workflow_mEle1z7D67DSCVTG.json
{"updatedAt":"2025-12-26T11:15:10.482Z","createdAt":"2025-12-24T14:21:45.296Z","id":"mEle1z7D67DSCVTG","name":"Workflow 6 - Threads Publisher","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"publish-threads","options":{}},"name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"publish-threads","id":"46e2c7d2-d9cd-46d7-9e44-52ad2c006d9b"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":4}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,208],"id":"08cb063c-289e-41a8-8fb6-fa331e66464f"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Content_Queue","mode":"name"},"options":{}},"name":"Get Content Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[224,112],"id":"7f82f4ce-f46b-4302-b3f3-479aaf2c8809"},{"parameters":{"jsCode":"// Filter content ready for Threads publication\nconst items = $input.all();\nconst webhookData = $('Webhook Trigger').first()?.json?.body;\n\n// If triggered by webhook with specific content_id\nif (webhookData?.content_id) {\n  const item = items.find(i => i.json.id === webhookData.content_id);\n  if (item) {\n    return [{ json: { ...item.json, chat_id: webhookData.chat_id } }];\n  }\n  return [];\n}\n\n// Otherwise, get items with status = rendered and content_type = text_post\n// or platform_target includes 'threads'\nreturn items\n  .filter(i => {\n    const isTextPost = i.json.content_type === 'text_post';\n    const includesThreads = i.json.platform_target?.includes('threads');\n    const isRendered = i.json.status === 'rendered';\n    return isRendered && (isTextPost || includesThreads);\n  })\n  .slice(0, 1) // One at a time\n  .map(i => ({ json: { ...i.json, chat_id: $env.TELEGRAM_CHAT_ID } }));"},"name":"Filter Ready for Threads","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,112],"id":"3daf6ca8-37fa-4957-841e-233c07800e29"},{"parameters":{"jsCode":"// Prepare text for Threads (max 500 chars)\nconst content = $input.first().json;\n\nlet text = '';\n\nif (content.content_type === 'text_post') {\n  // Pure text post\n  text = content.full_script || content.body || content.hook;\n} else {\n  // Video/carousel promo\n  text = content.hook + '\\n\\n' + (content.body?.slice(0, 300) || '') + '\\n\\n' + (content.cta || '');\n}\n\n// Add hashtags if available\nif (content.hashtags) {\n  text += '\\n\\n' + content.hashtags;\n}\n\n// Truncate to Threads limit\nif (text.length > 500) {\n  text = text.slice(0, 497) + '...';\n}\n\nreturn {\n  ...content,\n  threads_text: text,\n  has_media: content.content_type !== 'text_post' && (content.video_url || content.cover_url)\n};"},"name":"Prepare Threads Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,112],"id":"01db0d4f-429f-4b3b-aa93-427a31306460"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"has-media","leftValue":"={{ $json.has_media }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"name":"Has Media?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,112],"id":"9ed3781e-9c7e-4020-b85f-de793b4055e2"},{"parameters":{"method":"POST","url":"=https://graph.threads.net/v1.0/{{ $env.THREADS_USER_ID }}/threads","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"media_type","value":"TEXT"},{"name":"text","value":"={{ $json.threads_text }}"}]},"options":{}},"name":"Create Text Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,208],"id":"8560e24d-7469-4e4a-85d3-39a727dd852c"},{"parameters":{"method":"POST","url":"=https://graph.threads.net/v1.0/{{ $env.THREADS_USER_ID }}/threads","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"media_type","value":"={{ $json.video_url ? 'VIDEO' : 'IMAGE' }}"},{"name":"text","value":"={{ $json.threads_text }}"},{"name":"{{ $json.video_url ? 'video_url' : 'image_url' }}","value":"={{ $json.video_url || $json.cover_url }}"}]},"options":{}},"name":"Create Media Container","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,0],"id":"824d32ef-3da7-4bc6-b7d1-7a62cc6692a6"},{"parameters":{"jsCode":"// Extract creation_id from response\nconst response = $input.first().json;\nconst prevData = $('Prepare Threads Text').first().json;\n\nreturn {\n  ...prevData,\n  creation_id: response.id\n};"},"name":"Parse Creation ID","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,112],"id":"3a2eb3c6-c2f9-4909-b628-11b3df45b154"},{"parameters":{"amount":30},"name":"Wait 30s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,112],"webhookId":"09fa067a-f5dc-43a7-90bc-f8322735661e","id":"53dd213e-7a35-4f53-a1e9-79af8d3bd780"},{"parameters":{"method":"POST","url":"=https://graph.threads.net/v1.0/{{ $env.THREADS_USER_ID }}/threads_publish","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{ $json.creation_id }}"}]},"options":{}},"name":"Publish Thread","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,112],"id":"d5942e18-05ac-4bbf-b4f9-6e895f99e723"},{"parameters":{"jsCode":"// Parse publish response and prepare update data\nconst publishResponse = $input.first().json;\nconst prevData = $('Parse Creation ID').first().json;\n\nreturn {\n  ...prevData,\n  threads_post_id: publishResponse.id,\n  threads_url: `https://www.threads.net/@${$env.THREADS_USERNAME}/post/${publishResponse.id}`,\n  published_at: new Date().toISOString()\n};"},"name":"Parse Publish Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1984,112],"id":"e732037b-e714-4292-a5df-7229b8610831"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Content_Queue","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","status":"published","published_at":"={{ $json.published_at }}"}},"options":{}},"name":"Update Content_Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[2208,0],"id":"8216d87b-825c-4220-b14d-c48243c7001f"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Published_Posts","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $now.format('yyyyMMddHHmmss') }}_threads","content_id":"={{ $json.id }}","platform":"threads","post_id":"={{ $json.threads_post_id }}","post_url":"={{ $json.threads_url }}","published_at":"={{ $json.published_at }}"}},"options":{},"range":"Published_Content"},"name":"Save to Published_Content","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[2208,208],"id":"2c1ff3a0-dd63-450b-80e7-9c4632c54b65"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=✅ Опубликовано в Threads!\n\n📝 {{ $json.threads_text.slice(0, 100) }}...\n\n🔗 {{ $json.threads_url }}\n\n💰 Стоимость: ${{ $json.cost_total || '0.01' }}","additionalFields":{"disable_web_page_preview":false}},"name":"Notify Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2432,112],"webhookId":"84d6abd1-eb13-4a2d-a8f5-b38196fb815c","id":"819216b5-c328-4acd-bcff-236f543cce44"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Content Queue","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Content Queue","type":"main","index":0}]]},"Get Content Queue":{"main":[[{"node":"Filter Ready for Threads","type":"main","index":0}]]},"Filter Ready for Threads":{"main":[[{"node":"Prepare Threads Text","type":"main","index":0}]]},"Prepare Threads Text":{"main":[[{"node":"Has Media?","type":"main","index":0}]]},"Has Media?":{"main":[[{"node":"Create Media Container","type":"main","index":0}],[{"node":"Create Text Container","type":"main","index":0}]]},"Create Media Container":{"main":[[{"node":"Parse Creation ID","type":"main","index":0}]]},"Create Text Container":{"main":[[{"node":"Parse Creation ID","type":"main","index":0}]]},"Parse Creation ID":{"main":[[{"node":"Wait 30s","type":"main","index":0}]]},"Wait 30s":{"main":[[{"node":"Publish Thread","type":"main","index":0}]]},"Publish Thread":{"main":[[{"node":"Parse Publish Response","type":"main","index":0}]]},"Parse Publish Response":{"main":[[{"node":"Update Content_Queue","type":"main","index":0},{"node":"Save to Published_Posts","type":"main","index":0}]]},"Update Content_Queue":{"main":[[{"node":"Notify Telegram","type":"main","index":0}]]},"Save to Published_Posts":{"main":[[{"node":"Notify Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"6a78bda2-80d3-4314-8226-c3278a9282ce","versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T14:21:45.296Z","createdAt":"2025-12-24T14:21:45.296Z","role":"workflow:owner","workflowId":"mEle1z7D67DSCVTG","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}