workflow_yYraQp7kL4Wja1mo.json
{"updatedAt":"2025-12-26T11:15:18.778Z","createdAt":"2025-12-24T14:22:28.610Z","id":"yYraQp7kL4Wja1mo","name":"07 - YouTube Анализ конкурентов (YouTube Competitor Analysis)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 */3 * *"}]}},"id":"1cf173ba-dbb7-464c-818f-162a8e1caeb6","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1584,336]},{"parameters":{"path":"youtube-channel-analysis","options":{}},"id":"af12b286-b6ea-4492-86b1-57c84a27b557","name":"Webhook - Add Channel","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1584,144],"webhookId":"youtube-channel-analysis"},{"parameters":{"path":"youtube-video-transcribe","options":{}},"id":"f193759a-5f3e-4d55-8c0d-6d0676a07c16","name":"Webhook - Transcribe Video","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1584,1136],"webhookId":"youtube-video-transcribe"},{"parameters":{"path":"youtube-shorts-transcribe","options":{}},"id":"f849118f-85ef-4cbf-8dd2-b356f93e7ed4","name":"Webhook - Transcribe Shorts","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1584,1536],"webhookId":"youtube-shorts-transcribe"},{"parameters":{"method":"POST","url":"https://api.scrapercreators.com/v1/youtube/channel/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel_url\": \"{{ $json.query.url || $json.body.url }}\",\n  \"include_videos\": true,\n  \"include_shorts\": true,\n  \"videos_limit\": 50,\n  \"include_stats\": true\n}","options":{"timeout":120000}},"id":"25fdf1bf-e9c3-4b1a-8353-5202fbce6115","name":"ScraperCreators - Channel","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1344,144]},{"parameters":{"amount":90},"id":"8b5ed286-e550-4ea7-a9db-91f54fea31ec","name":"Wait 90s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1120,144],"webhookId":"92a229a8-c253-4d9e-826e-47881368886c"},{"parameters":{"url":"=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Channel').item.json.job_id }}/results","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"98d88ab3-9186-41ef-9130-0d64ceb9aa1a","name":"Get Channel Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,144]},{"parameters":{"jsCode":"// Извлекаем данные канала\nconst items = $input.all();\nconst channel = items[0]?.json;\n\nif (!channel) return [];\n\nreturn [{\n  json: {\n    channel_name: channel.channelName || channel.title || '',\n    channel_username: channel.channelUsername || channel.customUrl || '',\n    channel_url: channel.channelUrl || $('Webhook - Add Channel').item.json.query?.url || '',\n    avatar_url: channel.channelAvatarUrl || channel.thumbnailUrl || '',\n    subscribers: channel.subscriberCount || channel.aboutChannelInfo?.numberOfSubscribers || 0,\n    total_videos: channel.videoCount || channel.aboutChannelInfo?.channelTotalVideos || 0,\n    total_views: channel.viewCount || channel.aboutChannelInfo?.channelTotalViews || 0,\n    description: channel.channelDescription || channel.description || '',\n    joined_date: channel.aboutChannelInfo?.channelJoinedDate || '',\n    country: channel.aboutChannelInfo?.channelLocation || '',\n    link_1: channel.aboutChannelInfo?.channelDescriptionLinks?.[0]?.url || '',\n    link_2: channel.aboutChannelInfo?.channelDescriptionLinks?.[1]?.url || '',\n    added_date: new Date().toISOString()\n  }\n}];"},"id":"0ed6f808-69ab-4092-90fe-6229078af232","name":"Extract Channel Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,144]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Channels","mode":"name"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"id":"34e8e1d3-4714-4557-9ac0-bcc84627c418","name":"Save Channel","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-464,144]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"shorts","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"shorts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"video","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"}]},"options":{}},"id":"fff7c7c6-5338-4984-bfe9-f2c9e2255d56","name":"Switch - Shorts/Video","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-240,144]},{"parameters":{"jsCode":"// Обработка Shorts с метриками виральности\nconst items = $input.all();\nconst channelData = $('Extract Channel Data').item.json;\n\nreturn items.map(item => {\n  const d = item.json;\n  const views = d.viewCount || 0;\n  const likes = d.likes || 0;\n  const comments = d.commentsCount || 0;\n  const followers = channelData.subscribers || 0;\n  \n  // Вычисляем метрики виральности\n  const vfr = followers > 0 ? (views / followers) : 0;\n  const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n  \n  // Определяем VIRALITY и ENGAGEMENT\n  let virality = 'LOW';\n  if (vfr > 1) virality = 'VIRUS';\n  else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n  \n  let engagement = 'LOW ER';\n  if (er > 5) engagement = 'BEST ER';\n  else if (er > 2) engagement = 'AVERAGE ER';\n  \n  return {\n    json: {\n      media_id: d.id,\n      media_url: d.url,\n      cover_url: d.thumbnailUrl,\n      title: d.title || '',\n      views: views,\n      likes: likes,\n      comments: comments,\n      duration: d.duration || 0,\n      posted_date: d.date || '',\n      channel_username: channelData.channel_username,\n      channel_subscribers: followers,\n      vfr: vfr.toFixed(4),\n      er: er.toFixed(2),\n      virality: virality,\n      engagement: engagement,\n      type: 'shorts',\n      added_date: new Date().toISOString()\n    }\n  };\n});"},"id":"3bf0906a-d1a9-4fb7-a3e9-b77e16305b0d","name":"Process Shorts","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,32]},{"parameters":{"jsCode":"// Обработка Videos с метриками виральности\nconst items = $input.all();\nconst channelData = $('Extract Channel Data').item.json;\n\nreturn items.map(item => {\n  const d = item.json;\n  const views = d.viewCount || 0;\n  const likes = d.likes || 0;\n  const comments = d.commentsCount || 0;\n  const followers = channelData.subscribers || 0;\n  \n  // Вычисляем метрики виральности\n  const vfr = followers > 0 ? (views / followers) : 0;\n  const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n  \n  // Определяем VIRALITY и ENGAGEMENT\n  let virality = 'LOW';\n  if (vfr > 1) virality = 'VIRUS';\n  else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n  \n  let engagement = 'LOW ER';\n  if (er > 5) engagement = 'BEST ER';\n  else if (er > 2) engagement = 'AVERAGE ER';\n  \n  return {\n    json: {\n      media_id: d.id,\n      media_url: d.url,\n      cover_url: d.thumbnailUrl,\n      title: d.title || '',\n      views: views,\n      likes: likes,\n      comments: comments,\n      duration: d.duration || 0,\n      posted_date: d.date || '',\n      channel_username: channelData.channel_username,\n      channel_subscribers: followers,\n      vfr: vfr.toFixed(4),\n      er: er.toFixed(2),\n      virality: virality,\n      engagement: engagement,\n      type: 'video',\n      added_date: new Date().toISOString()\n    }\n  };\n});"},"id":"32ba1d1a-67e1-4bda-aa47-06ca5302b459","name":"Process Videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[-16,240]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Shorts","mode":"name"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"id":"cc64f5a3-154b-460e-babf-4fd8ed7496c9","name":"Save Shorts","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[208,32]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Videos","mode":"name"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"id":"191d11a4-d9bf-4740-9750-87d0d03beb0f","name":"Save Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[208,240]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Channels","mode":"name"},"options":{}},"id":"500ad2ca-6967-4692-a665-d1a8c17c33ee","name":"Get All Channels","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-1344,336]},{"parameters":{"options":{}},"id":"ace1cf2f-99ad-4825-99e6-6ee23e3580d4","name":"Loop Over Channels","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1120,336]},{"parameters":{"method":"POST","url":"https://api.scrapercreators.com/v1/youtube/channel/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"channel_url\": \"{{ $json.channel_url }}\",\n  \"include_videos\": true,\n  \"include_shorts\": true,\n  \"videos_limit\": 20,\n  \"include_stats\": true\n}","options":{"timeout":120000}},"id":"5bd5ef5d-d7fb-453a-b082-7f6614e6a81a","name":"ScraperCreators - Batch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-896,336]},{"parameters":{"amount":90},"id":"bfe6a12d-253b-4497-add2-9a0e6b89e0b0","name":"Wait 90s Batch","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-672,336],"webhookId":"3859f42f-965d-44da-aebf-427b4c5677b1"},{"parameters":{"url":"=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Batch').item.json.job_id }}/results","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"fb72db1f-132f-4505-9879-fa988f013780","name":"Get Batch Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,336]},{"parameters":{"jsCode":"// Обрабатываем новые видео и шортсы из batch парсинга\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const videos = item.json.videos || [];\n  const shorts = item.json.shorts || [];\n  const channelData = item.json;\n  const followers = channelData.subscriberCount || 0;\n  \n  // Обработка видео\n  for (const v of videos) {\n    const views = v.viewCount || 0;\n    const likes = v.likes || 0;\n    const comments = v.commentsCount || 0;\n    \n    const vfr = followers > 0 ? (views / followers) : 0;\n    const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n    \n    let virality = 'LOW';\n    if (vfr > 1) virality = 'VIRUS';\n    else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n    \n    let engagement = 'LOW ER';\n    if (er > 5) engagement = 'BEST ER';\n    else if (er > 2) engagement = 'AVERAGE ER';\n    \n    results.push({\n      json: {\n        media_id: v.id,\n        media_url: v.url,\n        cover_url: v.thumbnailUrl,\n        title: v.title || '',\n        views, likes, comments,\n        duration: v.duration || 0,\n        posted_date: v.date || '',\n        channel_username: channelData.channelUsername || '',\n        channel_subscribers: followers,\n        vfr: vfr.toFixed(4),\n        er: er.toFixed(2),\n        virality, engagement,\n        type: 'video',\n        added_date: new Date().toISOString()\n      }\n    });\n  }\n  \n  // Обработка shorts\n  for (const s of shorts) {\n    const views = s.viewCount || 0;\n    const likes = s.likes || 0;\n    const comments = s.commentsCount || 0;\n    \n    const vfr = followers > 0 ? (views / followers) : 0;\n    const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n    \n    let virality = 'LOW';\n    if (vfr > 1) virality = 'VIRUS';\n    else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n    \n    let engagement = 'LOW ER';\n    if (er > 5) engagement = 'BEST ER';\n    else if (er > 2) engagement = 'AVERAGE ER';\n    \n    results.push({\n      json: {\n        media_id: s.id,\n        media_url: s.url,\n        cover_url: s.thumbnailUrl,\n        title: s.title || '',\n        views, likes, comments,\n        duration: s.duration || 0,\n        posted_date: s.date || '',\n        channel_username: channelData.channelUsername || '',\n        channel_subscribers: followers,\n        vfr: vfr.toFixed(4),\n        er: er.toFixed(2),\n        virality, engagement,\n        type: 'shorts',\n        added_date: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"},"id":"927ddd5a-e37b-4012-9341-c61425bec889","name":"Process Batch Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,336]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"shorts","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"shorts"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.type }}","rightValue":"video","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"}]},"options":{}},"id":"e15c5966-3d22-44c2-a4ab-02a3ed3dc0da","name":"Switch Batch Type","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-16,336]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Shorts","mode":"name"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"id":"697a3067-d7e6-4af9-8522-d18463fd451e","name":"Save Batch Shorts","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[208,272]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Videos","mode":"name"},"columns":{"mappingMode":"autoMapInputData"},"options":{}},"id":"0ea213d9-7b35-40ee-a82c-bfd61a2ac5f6","name":"Save Batch Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[208,400]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Videos","mode":"name"},"options":{}},"id":"b4f856c8-138a-4f8f-953e-e9309d54737b","name":"Get Video Info","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-1344,1136]},{"parameters":{"method":"POST","url":"https://api.scrapercreators.com/v1/youtube/transcript/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_url\": \"{{ $json.media_url }}\"\n}","options":{"timeout":120000}},"id":"ba21d7fe-d5e6-4ef5-b75a-52baeea3ec98","name":"ScraperCreators - Transcript","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,1136]},{"parameters":{"amount":60},"id":"114d5247-eeb2-48c2-b59a-681bfbfee0f4","name":"Wait 60s Transcript","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-896,1136],"webhookId":"46e30fee-08d4-4ae4-b74c-f044690d6a53"},{"parameters":{"url":"=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Transcript').item.json.job_id }}/results","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"92ad2d75-2a4a-47d0-b066-6d6e0f8d1729","name":"Get Transcript Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,1136]},{"parameters":{"jsCode":"// Извлекаем транскрипт\nconst items = $input.all();\nconst transcript = items[0]?.json;\n\nreturn [{\n  json: {\n    text: transcript?.text || transcript?.transcript || '',\n    video_id: $('Get Video Info').item.json.media_id,\n    title: $('Get Video Info').item.json.title\n  }\n}];"},"id":"656888c4-ace1-4dd3-bf20-0bede873703f","name":"Extract Transcript","type":"n8n-nodes-base.code","typeVersion":2,"position":[-464,1136]},{"parameters":{"title":"=Транскрипт: {{ $json.title }}"},"id":"f708460f-d3d4-4551-9a9a-357b338f0ebc","name":"Create Google Doc","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-240,1136]},{"parameters":{"options":{"temperature":0.7}},"id":"e51d90e0-5f2f-4101-8940-6f1ba3deba57","name":"OpenAI - Rewrite Script","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-16,1136]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Videos","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"media_id":"={{ $('Get Video Info').item.json.media_id }}","original_script":"={{ $('Extract Transcript').item.json.text }}","rewritten_script":"={{ $json.text }}","doc_url":"={{ $('Create Google Doc').item.json.webViewLink }}"},"matchingColumns":["media_id"]},"options":{}},"id":"163df734-9e13-4836-b073-a973066d6c47","name":"Update Video with Transcript","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[208,1136]},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Shorts","mode":"name"},"options":{}},"id":"cf96bec5-951f-4746-a985-3bb86bdfc8d4","name":"Get Shorts Info","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-1344,1536]},{"parameters":{"method":"POST","url":"https://api.scrapercreators.com/v1/youtube/transcript/scrape","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"video_url\": \"{{ $json.media_url }}\"\n}","options":{"timeout":120000}},"id":"6f93742a-428a-444f-a90a-9bea8960d150","name":"ScraperCreators - Shorts Transcript","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1120,1536]},{"parameters":{"amount":60},"id":"85f68b65-f694-4c06-9b88-798567f8dbfd","name":"Wait 60s Shorts","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-896,1536],"webhookId":"e07e527a-32f6-4d20-af4e-7301709657d4"},{"parameters":{"url":"=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Shorts Transcript').item.json.job_id }}/results","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"id":"f83ccb7c-d6d7-44a3-8f72-8553591f45c5","name":"Get Shorts Transcript Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-672,1536]},{"parameters":{"options":{"temperature":0.7}},"id":"2c3fbcb4-931d-44c3-bf69-a697959b1bca","name":"OpenAI - Rewrite Shorts","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-464,1536]},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"YouTube_Shorts","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"media_id":"={{ $('Get Shorts Info').item.json.media_id }}","original_script":"={{ $('Get Shorts Transcript Results').item.json.text || $('Get Shorts Transcript Results').item.json.transcript }}","rewritten_script":"={{ $json.text }}"},"matchingColumns":["media_id"]},"options":{}},"id":"7940c36a-a4dd-424b-8145-8717f57904c0","name":"Update Shorts with Transcript","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[-240,1536]},{"parameters":{"chatId":"={{ $env.TELEGRAM_MONITORING_CHAT_ID }}","text":"=📺 YouTube канал добавлен!\n\n📊 {{ $('Extract Channel Data').item.json.channel_name }}\n👥 Подписчиков: {{ $('Extract Channel Data').item.json.subscribers }}\n🎬 Видео: {{ $('Extract Channel Data').item.json.total_videos }}\n👁 Просмотров: {{ $('Extract Channel Data').item.json.total_views }}\n\n🔗 {{ $('Extract Channel Data').item.json.channel_url }}","additionalFields":{}},"id":"1ba836df-822a-4002-a2a9-7a08964ab1cb","name":"Telegram - Channel Added","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[432,144],"webhookId":"516e56af-778a-4373-b575-e129389f49fa"},{"parameters":{"content":"## 📺 Workflow 7: YouTube Анализ конкурентов\n\n**Триггеры:**\n1. Webhook - добавление нового канала\n2. Schedule - автопарсинг всех каналов (раз в 3 дня)\n3. Webhook - транскрибация видео\n4. Webhook - транскрибация шортсов\n\n**Что делает:**\n1. Парсит каналы через ScraperCreators\n2. Собирает видео и shorts с метриками\n3. Вычисляет VFR, ER, VIRALITY, ENGAGEMENT\n4. Сохраняет в Google Sheets\n5. Транскрибирует и переписывает скрипты через GPT\n\n**Листы в Google Sheets:**\n- YouTube_Channels\n- YouTube_Videos\n- YouTube_Shorts\n\n**Environment Variables:**\n- GOOGLE_SHEET_ID\n- SCRAPERCREATORS_CREDENTIALS_ID\n- GOOGLE_SHEETS_CREDENTIALS_ID\n- GOOGLE_DOCS_CREDENTIALS_ID\n- OPENAI_CREDENTIALS_ID\n- TELEGRAM_CREDENTIALS_ID\n- TELEGRAM_MONITORING_CHAT_ID\n- GOOGLE_DOCS_FOLDER_ID","height":520,"width":380,"color":7},"id":"a9708454-f1d6-4bdb-b974-45e6e4d6f3bd","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2208,64]}],"connections":{"Webhook - Add Channel":{"main":[[{"node":"ScraperCreators - Channel","type":"main","index":0}]]},"ScraperCreators - Channel":{"main":[[{"node":"Wait 90s","type":"main","index":0}]]},"Wait 90s":{"main":[[{"node":"Get Channel Results","type":"main","index":0}]]},"Get Channel Results":{"main":[[{"node":"Extract Channel Data","type":"main","index":0}]]},"Extract Channel Data":{"main":[[{"node":"Save Channel","type":"main","index":0}]]},"Save Channel":{"main":[[{"node":"Switch - Shorts/Video","type":"main","index":0}]]},"Switch - Shorts/Video":{"main":[[{"node":"Process Shorts","type":"main","index":0}],[{"node":"Process Videos","type":"main","index":0}]]},"Process Shorts":{"main":[[{"node":"Save Shorts","type":"main","index":0}]]},"Process Videos":{"main":[[{"node":"Save Videos","type":"main","index":0}]]},"Save Videos":{"main":[[{"node":"Telegram - Channel Added","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get All Channels","type":"main","index":0}]]},"Get All Channels":{"main":[[{"node":"Loop Over Channels","type":"main","index":0}]]},"Loop Over Channels":{"main":[[],[{"node":"ScraperCreators - Batch","type":"main","index":0}]]},"ScraperCreators - Batch":{"main":[[{"node":"Wait 90s Batch","type":"main","index":0}]]},"Wait 90s Batch":{"main":[[{"node":"Get Batch Results","type":"main","index":0}]]},"Get Batch Results":{"main":[[{"node":"Process Batch Results","type":"main","index":0}]]},"Process Batch Results":{"main":[[{"node":"Switch Batch Type","type":"main","index":0}]]},"Switch Batch Type":{"main":[[{"node":"Save Batch Shorts","type":"main","index":0}],[{"node":"Save Batch Videos","type":"main","index":0}]]},"Save Batch Shorts":{"main":[[{"node":"Loop Over Channels","type":"main","index":0}]]},"Save Batch Videos":{"main":[[{"node":"Loop Over Channels","type":"main","index":0}]]},"Webhook - Transcribe Video":{"main":[[{"node":"Get Video Info","type":"main","index":0}]]},"Get Video Info":{"main":[[{"node":"ScraperCreators - Transcript","type":"main","index":0}]]},"ScraperCreators - Transcript":{"main":[[{"node":"Wait 60s Transcript","type":"main","index":0}]]},"Wait 60s Transcript":{"main":[[{"node":"Get Transcript Results","type":"main","index":0}]]},"Get Transcript Results":{"main":[[{"node":"Extract Transcript","type":"main","index":0}]]},"Extract Transcript":{"main":[[{"node":"Create Google Doc","type":"main","index":0}]]},"Webhook - Transcribe Shorts":{"main":[[{"node":"Get Shorts Info","type":"main","index":0}]]},"Get Shorts Info":{"main":[[{"node":"ScraperCreators - Shorts Transcript","type":"main","index":0}]]},"ScraperCreators - Shorts Transcript":{"main":[[{"node":"Wait 60s Shorts","type":"main","index":0}]]},"Wait 60s Shorts":{"main":[[{"node":"Get Shorts Transcript Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"96c68ab2-cea0-4f18-8dad-181b3ff64480","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T14:22:28.610Z","createdAt":"2025-12-24T14:22:28.610Z","role":"workflow:owner","workflowId":"yYraQp7kL4Wja1mo","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[{"updatedAt":"2025-12-24T14:22:00.500Z","createdAt":"2025-12-24T14:22:00.500Z","id":"3CVNTokLlg1D3Xs5","name":"content-factory"}]}