workflow_Bz3vDVtLy0QTzZac.json
{"updatedAt":"2025-12-26T11:14:26.701Z","createdAt":"2025-12-24T14:19:07.318Z","id":"Bz3vDVtLy0QTzZac","name":"Workflow 2 - Instagram Parser (ScraperCreators)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"parse-instagram","options":{}},"name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"parse-instagram","id":"eadfcdb1-03ee-42f5-bb58-c07c3ef4276e"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,208],"id":"48cfa9c1-d7e4-43cd-a9b2-39fd717ef7cd"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Competitors","mode":"name"},"options":{}},"name":"Get Competitors","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[224,112],"id":"a0b15aa4-9932-47e6-909b-b4ff715f8eef"},{"parameters":{"jsCode":"// Filter Instagram competitors with active status\nconst items = $input.all();\nconst webhookData = $('Webhook Trigger').first()?.json?.body;\n\n// If triggered by webhook with specific username\nif (webhookData?.username) {\n  const competitor = items.find(i => \n    i.json.username === webhookData.username && \n    i.json.platform === 'instagram'\n  );\n  \n  if (competitor) {\n    return [{ json: { ...competitor.json, chat_id: webhookData.chat_id } }];\n  }\n  return [];\n}\n\n// Otherwise, get all active Instagram competitors\nreturn items\n  .filter(i => i.json.platform === 'instagram' && i.json.status === 'active')\n  .map(i => ({ json: i.json }));"},"name":"Filter Instagram Competitors","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,112],"id":"28bb4f6d-c6ee-4e90-b9d3-9e510e8a7f89"},{"parameters":{"url":"=https://api.scrapercreators.com/api/instagram/user/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"username","value":"={{ $json.username }}"},{"name":"count","value":"30"}]},"options":{"timeout":30000}},"name":"ScraperCreators - Instagram Posts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,112],"id":"113e7c8c-2ad2-46d5-811c-fbb0b425b25e"},{"parameters":{"jsCode":"// Merge posts with user info and calculate virality metrics\nconst postsData = $('ScraperCreators - Instagram Posts').first().json;\nconst userInfo = $('ScraperCreators - User Info').first().json;\nconst competitorData = $('Filter Instagram Competitors').first().json;\n\nconst followers = userInfo.data?.edge_followed_by?.count || userInfo.follower_count || 1;\nconst posts = postsData.data?.posts || postsData.posts || [];\n\nconst processedVideos = posts\n  .filter(post => post.is_video || post.media_type === 2) // Only Reels/Videos\n  .map(post => {\n    const views = post.video_view_count || post.play_count || 0;\n    const likes = post.like_count || post.edge_liked_by?.count || 0;\n    const comments = post.comment_count || post.edge_media_to_comment?.count || 0;\n    const shares = 0; // Instagram doesn't expose shares\n    \n    // Calculate metrics\n    const vfr = followers > 0 ? (views / followers) : 0;\n    const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n    \n    // Classify virality\n    let virality = 'LOW';\n    if (vfr > 10 || er > 10) {\n      virality = 'VIRUS';\n    } else if (vfr > 3 || er > 5) {\n      virality = 'AVERAGE';\n    }\n    \n    // Extract hook (first line of caption)\n    const caption = post.caption?.text || post.edge_media_to_caption?.edges?.[0]?.node?.text || '';\n    const hook = caption.split('\\n')[0].slice(0, 100);\n    \n    // Extract hashtags\n    const hashtagMatch = caption.match(/#[\\wа-яА-Я]+/g) || [];\n    \n    return {\n      id: post.id || post.pk,\n      competitor_id: competitorData.id,\n      competitor_username: competitorData.username,\n      platform: 'instagram',\n      url: `https://www.instagram.com/reel/${post.code || post.shortcode}/`,\n      views,\n      likes,\n      comments,\n      shares,\n      vfr: vfr.toFixed(2),\n      er: er.toFixed(2),\n      share_rate: '0.00',\n      virality,\n      hook,\n      description: caption,\n      hashtags: hashtagMatch.join(', '),\n      duration: post.video_duration || 0,\n      thumbnail_url: post.thumbnail_url || post.display_url,\n      created_at: post.taken_at ? new Date(post.taken_at * 1000).toISOString() : null,\n      parsed_at: new Date().toISOString(),\n      chat_id: competitorData.chat_id\n    };\n  });\n\nreturn processedVideos.map(v => ({ json: v }));"},"name":"Process Videos & Calculate Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,208],"id":"d945e290-62ae-42a3-a3bc-84924dccf9d3"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Parsed_Videos","mode":"name"},"options":{}},"name":"Get Existing Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1104,112],"id":"50093541-c06e-410a-938d-26b3046a17af"},{"parameters":{"jsCode":"// Filter out already parsed videos\nconst newVideos = $('Process Videos & Calculate Metrics').all();\nconst existingVideos = $('Get Existing Videos').all();\n\nconst existingIds = new Set(existingVideos.map(v => v.json.id));\n\nconst uniqueNewVideos = newVideos.filter(v => !existingIds.has(v.json.id));\n\nreturn uniqueNewVideos;"},"name":"Filter New Videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,112],"id":"c498e9b8-b01a-4feb-ac17-4c976fc2b1f4"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Parsed_Videos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{}},"options":{}},"name":"Save to Parsed_Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1552,112],"id":"4027640e-089e-451f-ab13-850e201a843c"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Competitors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Filter Instagram Competitors').first().json.id }}","last_parsed":"={{ $now.toISO() }}","followers":"={{ $('ScraperCreators - User Info').first().json.data?.edge_followed_by?.count || $('ScraperCreators - User Info').first().json.follower_count }}"}},"options":{}},"name":"Update Competitor (last_parsed)","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1552,304],"id":"e501b8a4-c7eb-4565-82b3-5b1d6e554434"},{"parameters":{"jsCode":"// Prepare summary for notification\nconst videos = $('Filter New Videos').all();\nconst competitorData = $('Filter Instagram Competitors').first().json;\n\nconst viralCount = videos.filter(v => v.json.virality === 'VIRUS').length;\nconst avgCount = videos.filter(v => v.json.virality === 'AVERAGE').length;\nconst totalCount = videos.length;\n\n// Cost calculation\nconst parsingCost = 0.03; // ScraperCreators cost per request\n\nreturn {\n  chat_id: competitorData.chat_id || $env.TELEGRAM_CHAT_ID,\n  username: competitorData.username,\n  total: totalCount,\n  viral: viralCount,\n  average: avgCount,\n  cost: parsingCost,\n  topVideos: videos\n    .filter(v => v.json.virality === 'VIRUS' || v.json.virality === 'AVERAGE')\n    .slice(0, 5)\n    .map(v => ({\n      views: v.json.views,\n      vfr: v.json.vfr,\n      hook: v.json.hook,\n      url: v.json.url\n    }))\n};"},"name":"Prepare Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,112],"id":"3df7b14d-b975-44e6-a20b-4aca448a3302"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"has-new-videos","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"name":"Has New Videos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1984,112],"id":"a6b99938-64e4-4538-a0e9-a217cc8fd2de"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=📸 Instagram парсинг завершён!\n\n👤 @{{ $json.username }}\n📊 Новых Reels: {{ $json.total }}\n\n🔥 Вирусных (VIRUS): {{ $json.viral }}\n📈 Средних (AVERAGE): {{ $json.average }}\n\n{{ $json.viral > 0 ? '\\n🏆 Топ вирусных:\\n' + $json.topVideos.slice(0, 3).map((v, i) => `${i+1}. 👁 ${(v.views/1000).toFixed(1)}K | VFR: ${v.vfr}\\n   ${v.hook.slice(0, 40)}...`).join('\\n') : '' }}\n\n💰 Стоимость: ${{ $json.cost.toFixed(2) }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"HTML"}},"name":"Notify Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2208,0],"webhookId":"e7f43083-0eb2-40d2-83f9-108eec2c22f1","id":"96820e7f-e031-4cc2-a20a-ace406dd2f6d"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=✅ Instagram @{{ $json.username }} — новых Reels нет.\n\nВсе видео уже в базе.","additionalFields":{}},"name":"Notify No New Videos","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2208,208],"webhookId":"8e7f09aa-7bb8-4acf-8d49-1264c97fdf13","id":"01c5d382-5b02-4a5b-839b-af5c59ce6706"},{"parameters":{"jsCode":"const videosCount = $input.all().length;\nconst totalCost = 0.03;\nreturn {\n    timestamp: new Date().toISOString(),\n    service: 'scraper_creators',\n    operation: 'instagram_parse',\n    cost: totalCost,\n    details: JSON.stringify({\n        username: $('Filter Instagram Competitors').item.json.username,\n        videos_parsed: videosCount\n    })\n};"},"name":"Prepare API Costs","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300],"id":"f91c3cfc-ab66-45cb-b471-56dc38f4f075"},{"parameters":{"operation":"appendOrUpdate","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"API_Costs","options":{"cellFormat":"USER_ENTERED","useAppend":true},"columns":{"mappings":[{"fromColumn":"timestamp","toColumn":"timestamp"},{"fromColumn":"service","toColumn":"service"},{"fromColumn":"operation","toColumn":"operation"},{"fromColumn":"cost","toColumn":"cost"},{"fromColumn":"details","toColumn":"details"}]}},"name":"Save API Costs","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1000,300],"id":"67940994-86a6-4449-b1e7-5fab06a8fa8a"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Competitors","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Competitors","type":"main","index":0}]]},"Get Competitors":{"main":[[{"node":"Filter Instagram Competitors","type":"main","index":0}]]},"Filter Instagram Competitors":{"main":[[{"node":"ScraperCreators - Instagram Posts","type":"main","index":0},{"node":"ScraperCreators - User Info","type":"main","index":0}]]},"ScraperCreators - Instagram Posts":{"main":[[{"node":"Process Videos & Calculate Metrics","type":"main","index":0},{"node":"Prepare API Costs","type":"main","index":0}]]},"ScraperCreators - User Info":{"main":[[{"node":"Process Videos & Calculate Metrics","type":"main","index":0}]]},"Process Videos & Calculate Metrics":{"main":[[{"node":"Get Existing Videos","type":"main","index":0}]]},"Get Existing Videos":{"main":[[{"node":"Filter New Videos","type":"main","index":0}]]},"Filter New Videos":{"main":[[{"node":"Save to Parsed_Videos","type":"main","index":0}]]},"Save to Parsed_Videos":{"main":[[{"node":"Update Competitor (last_parsed)","type":"main","index":0}]]},"Update Competitor (last_parsed)":{"main":[[{"node":"Prepare Summary","type":"main","index":0}]]},"Prepare Summary":{"main":[[{"node":"Has New Videos?","type":"main","index":0}]]},"Has New Videos?":{"main":[[{"node":"Notify Telegram","type":"main","index":0}],[{"node":"Notify No New Videos","type":"main","index":0}]]},"Prepare API Costs":{"main":[[{"node":"Save API Costs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"1c3792a5-d8da-4e2b-b06a-bd975b5c87e5","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T14:19:07.318Z","createdAt":"2025-12-24T14:19:07.318Z","role":"workflow:owner","workflowId":"Bz3vDVtLy0QTzZac","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}