workflow_PzmlZvfI8xZrF8YC.json
{"updatedAt":"2025-12-26T11:15:27.397Z","createdAt":"2025-12-24T15:01:40.213Z","id":"PzmlZvfI8xZrF8YC","name":"Workflow 0 - AI Orchestrator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"id":"telegram-trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[240,400],"webhookId":"ai-orchestrator"},{"parameters":{"options":{}},"id":"ai-agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[688,400]},{"parameters":{"name":"add_tiktok_competitor","description":"Add TikTok account to monitoring for trending videos. Input: username (without @)","workflowId":"fqUk7t9De8NXzQqf"},"id":"tool-tiktok","name":"Tool: TikTok","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1792,816]},{"parameters":{"name":"add_instagram_competitor","description":"Add Instagram account to monitoring for trending reels. Input: username (without @)","workflowId":"Bz3vDVtLy0QTzZac"},"id":"tool-instagram","name":"Tool: Instagram","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1632,816]},{"parameters":{"name":"add_youtube_competitor","description":"Add YouTube channel for automatic monitoring (parse new videos with transcripts). Input: channel_url","workflowId":"aklB2WYNAnmhfT43"},"id":"tool-youtube-parser","name":"Tool: YouTube Parser","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1456,816]},{"parameters":{"name":"analyze_youtube_deep","description":"Deep one-time analysis of YouTube channel (50 videos, patterns, hooks, recommendations). Input: channel_url","workflowId":"aeK9XrhduilWSoLX"},"id":"tool-youtube-analysis","name":"Tool: YouTube Analysis","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1296,816]},{"parameters":{"name":"add_pinterest_competitor","description":"Add Pinterest account for monitoring trending pins. Input: username (without @)","workflowId":"X8RJV2g5WI8go1B4"},"id":"tool-pinterest","name":"Tool: Pinterest","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1136,816]},{"parameters":{"name":"generate_carousel","description":"Generate carousel for Threads from trending topics. Input: topic","workflowId":"CgQnHIkKYfsNicA4"},"id":"tool-carousel","name":"Tool: Carousel Generator","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1008,816]},{"parameters":{"name":"create_video_montage","description":"Create video montage from trending content. Input: content_ids (array)","workflowId":"HuSjIsQg1xIpaseF"},"id":"tool-video","name":"Tool: Video Montage","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[848,816]},{"parameters":{"name":"publish_to_threads","description":"Publish content to Threads. Input: content_type, content_data","workflowId":"mEle1z7D67DSCVTG"},"id":"tool-threads","name":"Tool: Threads Publisher","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-224,800]},{"parameters":{"name":"show_statistics","description":"Show statistics and API costs. Input: period (week/month/all)","workflowId":"zQJzBmZeVWXEpTxT"},"id":"tool-stats","name":"Tool: Statistics & Costs","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[-48,800]},{"parameters":{"name":"analyze_performance","description":"Analyze published content performance and engagement. Input: period (week/month)","workflowId":"LTuU9VdigtS5HtlY"},"id":"tool-analytics","name":"Tool: Performance Analytics","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[144,800]},{"parameters":{"name":"find_similar_content","description":"Find similar successful content patterns from vector database. Input: query (text describing what to find)","workflowId":"zIezwsaOknD9yJq8"},"id":"tool-vector-search","name":"Tool: Vector Search","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[320,800]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"systemMessage":"Ты - AI оркестратор Content Factory.\n\nТвоя задача: понимать намерения пользователя и вызывать нужные инструменты.\n\nДоступные инструменты:\n1. add_tiktok_competitor - добавить TikTok аккаунт в мониторинг\n2. add_instagram_competitor - добавить Instagram аккаунт в мониторинг\n3. add_youtube_competitor - добавить YouTube канал в мониторинг (регулярный парсинг)\n4. analyze_youtube_deep - глубокий анализ YouTube канала (разовый, 50 видео)\n5. add_pinterest_competitor - добавить Pinterest аккаунт в мониторинг\n6. generate_carousel - создать карусель для Threads\n7. create_video_montage - создать видео-монтаж\n8. publish_to_threads - опубликовать в Threads\n9. show_statistics - показать статистику и расходы на API\n10. analyze_performance - анализ производительности публикаций\n11. find_similar_content - найти похожий успешный контент\n\nПримеры использования:\n- \"добавь конкурента @viral из тиктока\" → вызвать add_tiktok_competitor с username: \"viral\"\n- \"мониторь инсту @trendy\" → вызвать add_instagram_competitor с username: \"trendy\"\n- \"добавь ютуб канал youtube.com/@channel\" → вызвать add_youtube_competitor с channel_url\n- \"глубокий анализ ютуба youtube.com/@channel\" → вызвать analyze_youtube_deep с channel_url\n- \"мониторь pinterest @pins\" → вызвать add_pinterest_competitor с username: \"pins\"\n- \"создай карусель про AI\" → вызвать generate_carousel с topic: \"AI лайфхаки\"\n- \"статистика за неделю\" → вызвать show_statistics с period: \"week\"\n- \"расходы за месяц\" → вызвать show_statistics с period: \"month\"\n- \"сколько потратили\" → вызвать show_statistics с period: \"all\"\n- \"аналитика публикаций\" → вызвать analyze_performance с period: \"week\"\n- \"что лучше заходит\" → вызвать analyze_performance с period: \"month\"\n- \"покажи топ контент\" → вызвать analyze_performance с period: \"week\"\n- \"найди похожие примеры про AI\" → вызвать find_similar_content с query: \"AI контент\"\n- \"какие хуки работают для мотивации\" → вызвать find_similar_content с query: \"мотивационные хуки\"\n\nВажно:\n- Для TikTok, Instagram, Pinterest передавай username БЕЗ символа @\n- Для YouTube передавай полный URL канала\n- Различай обычный мониторинг YouTube (add_youtube_competitor) от глубокого анализа (analyze_youtube_deep)\n- Для статистики используй period: \"week\" (за неделю), \"month\" (за месяц), \"all\" (за всё время)\n- Для аналитики публикаций используй analyze_performance с period: \"week\" или \"month\"\n- Для поиска похожего успешного контента используй find_similar_content\n- Всегда отвечай пользователю на русском языке, объясняя что ты делаешь"}},"id":"claude-model","name":"Claude Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.9,"position":[624,816]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{}},"id":"send-telegram","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1344,400],"webhookId":"253284c8-365c-489e-81ac-757c95a96bf7"}],"connections":{"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]},"Tool: TikTok":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Instagram":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: YouTube Parser":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: YouTube Analysis":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Pinterest":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Carousel Generator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Video Montage":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Threads Publisher":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Statistics & Costs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Performance Analytics":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool: Vector Search":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Claude Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"f5fdb5ce-2be5-4213-8009-15163f291291","versionCounter":17,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T15:01:40.213Z","createdAt":"2025-12-24T15:01:40.213Z","role":"workflow:owner","workflowId":"PzmlZvfI8xZrF8YC","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}