workflow_zQJzBmZeVWXEpTxT.json
{"updatedAt":"2025-12-26T11:15:49.317Z","createdAt":"2025-12-24T15:54:07.511Z","id":"zQJzBmZeVWXEpTxT","name":"Workflow 9 - Cost Tracker & Statistics","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"cost-stats","options":{}},"id":"webhook-trigger","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,400],"webhookId":"cost-stats"},{"parameters":{"operation":"getAll","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"API_Costs!A:F","options":{}},"id":"get-api-costs","name":"Get API Costs Log","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[460,400]},{"parameters":{"operation":"getAll","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"Parsed_Videos!A:Z","options":{}},"id":"get-content","name":"Get Content Stats","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[460,550]},{"parameters":{"jsCode":"const period = $json.body?.period || 'week'; // week, month, all\nconst apiCosts = $input.all()[0]?.json || [];\nconst content = $input.all()[1]?.json || [];\n\n// Calculate date range\nconst now = new Date();\nlet startDate = new Date();\nif (period === 'week') {\n  startDate.setDate(now.getDate() - 7);\n} else if (period === 'month') {\n  startDate.setMonth(now.getMonth() - 1);\n} else {\n  startDate = new Date(0); // all time\n}\n\n// Filter costs by period\nconst periodCosts = apiCosts.filter(item => {\n  const date = new Date(item.timestamp);\n  return date >= startDate && date <= now;\n});\n\n// Calculate costs by service\nconst costsByService = {};\nlet totalCost = 0;\n\nperiodCosts.forEach(item => {\n  const service = item.service || 'unknown';\n  const cost = parseFloat(item.cost) || 0;\n  \n  if (!costsByService[service]) {\n    costsByService[service] = { count: 0, cost: 0 };\n  }\n  \n  costsByService[service].count += 1;\n  costsByService[service].cost += cost;\n  totalCost += cost;\n});\n\n// Count content created\nconst contentByPlatform = {};\nconst periodContent = content.filter(item => {\n  const date = new Date(item.parsed_at);\n  return date >= startDate && date <= now;\n});\n\nperiodContent.forEach(item => {\n  const platform = item.platform || 'unknown';\n  if (!contentByPlatform[platform]) {\n    contentByPlatform[platform] = 0;\n  }\n  contentByPlatform[platform] += 1;\n});\n\n// Format statistics message\nconst periodLabel = {\n  'week': 'за неделю',\n  'month': 'за месяц',\n  'all': 'за всё время'\n}[period];\n\nlet message = `📊 Статистика ${periodLabel}\\n\\n`;\n\n// Costs breakdown\nmessage += `💰 Расходы на API: $${totalCost.toFixed(2)}\\n\\n`;\n\nfor (const [service, data] of Object.entries(costsByService)) {\n  const serviceEmoji = {\n    'scraper_creators': '🔍',\n    'anthropic': '🤖',\n    'ideogram': '🎨',\n    'creatomate': '🎬'\n  }[service] || '📌';\n  \n  message += `${serviceEmoji} ${service}: $${data.cost.toFixed(2)} (${data.count} вызовов)\\n`;\n}\n\n// Content created\nmessage += `\\n📝 Контента создано: ${periodContent.length}\\n\\n`;\n\nfor (const [platform, count] of Object.entries(contentByPlatform)) {\n  const platformEmoji = {\n    'tiktok': '🎵',\n    'instagram': '📸',\n    'youtube': '▶️',\n    'pinterest': '📌'\n  }[platform] || '📄';\n  \n  message += `${platformEmoji} ${platform}: ${count}\\n`;\n}\n\n// Average cost per content\nif (periodContent.length > 0) {\n  const avgCost = totalCost / periodContent.length;\n  message += `\\n💵 Средняя стоимость: $${avgCost.toFixed(2)} на контент\\n`;\n}\n\n// Most expensive operation\nconst sortedServices = Object.entries(costsByService).sort((a, b) => b[1].cost - a[1].cost);\nif (sortedServices.length > 0) {\n  const [topService, topData] = sortedServices[0];\n  message += `\\n🔝 Самый дорогой сервис: ${topService} ($${topData.cost.toFixed(2)})\\n`;\n}\n\nreturn {\n  message,\n  chatId: $json.body?.chatId || process.env.TELEGRAM_CHAT_ID,\n  totalCost,\n  contentCount: periodContent.length,\n  period\n};"},"id":"calculate-stats","name":"Calculate Statistics","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,475]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}"},"id":"send-telegram","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[900,475]}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get API Costs Log","type":"main","index":0},{"node":"Get Content Stats","type":"main","index":0}]]},"Get API Costs Log":{"main":[[{"node":"Calculate Statistics","type":"main","index":0}]]},"Get Content Stats":{"main":[[{"node":"Calculate Statistics","type":"main","index":0}]]},"Calculate Statistics":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"cdd83504-637b-4230-b6ca-a057f36532c0","versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T15:54:07.511Z","createdAt":"2025-12-24T15:54:07.511Z","role":"workflow:owner","workflowId":"zQJzBmZeVWXEpTxT","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}