workflow_fqUk7t9De8NXzQqf.json
{"updatedAt":"2026-01-14T13:46:59.632Z","createdAt":"2025-12-24T14:17:54.329Z","id":"fqUk7t9De8NXzQqf","name":"Workflow 1 - TikTok Parser (ScraperCreators)","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"parse-tiktok","options":{}},"name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"parse-tiktok","id":"a11b0511-7019-44eb-9c56-dda743e7475d"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,208],"id":"aa1f0583-9deb-4369-b922-623ff468b675"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Competitors","mode":"name"},"options":{}},"name":"Get Competitors","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[224,112],"id":"53e72704-ed55-473a-bc33-79d2a44944e3"},{"parameters":{"jsCode":"// Filter TikTok competitors with active status\nconst items = $input.all();\nconst webhookData = $('Webhook Trigger').first()?.json?.body;\n\n// If triggered by webhook with specific username\nif (webhookData?.username) {\n  const competitor = items.find(i => \n    i.json.username === webhookData.username && \n    i.json.platform === 'tiktok'\n  );\n  \n  if (competitor) {\n    return [{ json: { ...competitor.json, chat_id: webhookData.chat_id } }];\n  }\n  return [];\n}\n\n// Otherwise, get all active TikTok competitors\nreturn items\n  .filter(i => i.json.platform === 'tiktok' && i.json.status === 'active')\n  .map(i => ({ json: i.json }));"},"name":"Filter TikTok Competitors","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,112],"id":"75a5a473-8108-46da-91e2-76c504588e9e"},{"parameters":{"url":"=https://api.scrapercreators.com/api/tiktok/user/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"username","value":"={{ $json.username }}"},{"name":"count","value":"30"}]},"options":{"timeout":30000}},"name":"ScraperCreators - TikTok Posts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,112],"id":"1719a45d-e934-41fa-a8e2-a8999e1e118b"},{"parameters":{"jsCode":"// Merge posts with user info and calculate virality metrics\nconst postsData = $('ScraperCreators - TikTok Posts').first().json;\nconst userInfo = $('ScraperCreators - User Info').first().json;\nconst competitorData = $('Filter TikTok Competitors').first().json;\n\nconst followers = userInfo.data?.stats?.followerCount || userInfo.followerCount || 1;\nconst posts = postsData.data?.posts || postsData.posts || [];\n\nconst processedVideos = posts.map(post => {\n  const views = post.stats?.playCount || post.playCount || 0;\n  const likes = post.stats?.diggCount || post.diggCount || 0;\n  const comments = post.stats?.commentCount || post.commentCount || 0;\n  const shares = post.stats?.shareCount || post.shareCount || 0;\n  \n  // Calculate metrics\n  const vfr = followers > 0 ? (views / followers) : 0;\n  const er = views > 0 ? ((likes + comments + shares) / views * 100) : 0;\n  const shareRate = views > 0 ? (shares / views * 100) : 0;\n  \n  // Classify virality\n  let virality = 'LOW';\n  if (vfr > 10 || shareRate > 5) {\n    virality = 'VIRUS';\n  } else if (vfr > 3 || shareRate > 2) {\n    virality = 'AVERAGE';\n  }\n  \n  // Extract hook (first line of description)\n  const desc = post.desc || post.description || '';\n  const hook = desc.split('\\n')[0].slice(0, 100);\n  \n  return {\n    id: post.id,\n    competitor_id: competitorData.id,\n    competitor_username: competitorData.username,\n    platform: 'tiktok',\n    url: `https://www.tiktok.com/@${competitorData.username}/video/${post.id}`,\n    views,\n    likes,\n    comments,\n    shares,\n    vfr: vfr.toFixed(2),\n    er: er.toFixed(2),\n    share_rate: shareRate.toFixed(2),\n    virality,\n    hook,\n    description: desc,\n    hashtags: (post.textExtra || []).filter(t => t.hashtagName).map(t => t.hashtagName).join(', '),\n    duration: post.duration || 0,\n    created_at: post.createTime ? new Date(post.createTime * 1000).toISOString() : null,\n    parsed_at: new Date().toISOString(),\n    chat_id: competitorData.chat_id\n  };\n});\n\nreturn processedVideos.map(v => ({ json: v }));"},"name":"Process Videos & Calculate Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,208],"id":"c26f95d0-461d-4943-aa9d-8c091ac26d92"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Parsed_Videos","mode":"name"},"options":{}},"name":"Get Existing Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1104,112],"id":"cdb311b2-0dcd-49a8-adbe-e87350ca08f9"},{"parameters":{"jsCode":"// Filter out already parsed videos\nconst newVideos = $('Process Videos & Calculate Metrics').all();\nconst existingVideos = $('Get Existing Videos').all();\n\nconst existingIds = new Set(existingVideos.map(v => v.json.id));\n\nconst uniqueNewVideos = newVideos.filter(v => !existingIds.has(v.json.id));\n\nreturn uniqueNewVideos;"},"name":"Filter New Videos","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,112],"id":"2a1f4184-4ec5-4902-9793-54a254b93ca3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Parsed_Videos","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{}},"options":{}},"name":"Save to Parsed_Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1552,112],"id":"4848a242-4b2c-4c71-ba6e-9a3fb7754913"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Competitors","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Filter TikTok Competitors').first().json.id }}","last_parsed":"={{ $now.toISO() }}","followers":"={{ $('ScraperCreators - User Info').first().json.data?.stats?.followerCount || $('ScraperCreators - User Info').first().json.followerCount }}"}},"options":{}},"name":"Update Competitor (last_parsed)","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1552,304],"id":"6968e8b5-1071-4693-ae86-e96f59e8b38d"},{"parameters":{"jsCode":"// Prepare summary for notification\nconst videos = $('Filter New Videos').all();\nconst competitorData = $('Filter TikTok Competitors').first().json;\n\nconst viralCount = videos.filter(v => v.json.virality === 'VIRUS').length;\nconst avgCount = videos.filter(v => v.json.virality === 'AVERAGE').length;\nconst totalCount = videos.length;\n\n// Cost calculation\nconst parsingCost = 0.03; // ScraperCreators cost per request\n\nreturn {\n  chat_id: competitorData.chat_id || $env.TELEGRAM_CHAT_ID,\n  username: competitorData.username,\n  total: totalCount,\n  viral: viralCount,\n  average: avgCount,\n  cost: parsingCost,\n  topVideos: videos\n    .filter(v => v.json.virality === 'VIRUS' || v.json.virality === 'AVERAGE')\n    .slice(0, 5)\n    .map(v => ({\n      views: v.json.views,\n      vfr: v.json.vfr,\n      hook: v.json.hook,\n      url: v.json.url\n    }))\n};"},"name":"Prepare Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,112],"id":"9f666fb9-82ab-4699-9e74-9c5a99b27cf4"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"has-new-videos","leftValue":"={{ $json.total }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}]},"options":{}},"name":"Has New Videos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1984,112],"id":"adfe3ebb-1f61-4f64-94ee-298469882718"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=🎵 TikTok парсинг завершён!\n\n👤 @{{ $json.username }}\n📊 Новых видео: {{ $json.total }}\n\n🔥 Вирусных (VIRUS): {{ $json.viral }}\n📈 Средних (AVERAGE): {{ $json.average }}\n\n{{ $json.viral > 0 ? '\\n🏆 Топ вирусных:\\n' + $json.topVideos.slice(0, 3).map((v, i) => `${i+1}. 👁 ${(v.views/1000).toFixed(1)}K | VFR: ${v.vfr}\\n   ${v.hook.slice(0, 40)}...`).join('\\n') : '' }}\n\n💰 Стоимость: ${{ $json.cost.toFixed(2) }}","additionalFields":{"disable_web_page_preview":true,"parse_mode":"HTML"}},"name":"Notify Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2208,0],"webhookId":"366f6dfc-f3b2-40f2-af4a-1c499f649693","id":"ebe3f8bc-261a-40d1-a466-6a4831771b4f"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"=✅ TikTok @{{ $json.username }} — новых видео нет.\n\nВсе видео уже в базе.","additionalFields":{}},"name":"Notify No New Videos","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2208,208],"webhookId":"35cf0293-32e3-4981-b2b5-9dabfbe19410","id":"f663e4c4-80e9-4c2b-9875-10e9443baee5"},{"parameters":{"jsCode":"const videosCount = $input.all().length;\nconst costPerRequest = 0.03; // ScraperCreators cost\nconst totalCost = costPerRequest;\n\nreturn {\n    timestamp: new Date().toISOString(),\n    service: 'scraper_creators',\n    operation: 'tiktok_parse',\n    cost: totalCost,\n    details: JSON.stringify({\n        username: $('Filter TikTok Competitors').item.json.username,\n        videos_parsed: videosCount\n    })\n};"},"name":"Prepare API Costs","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,400],"id":"1511fb83-92fd-4f30-8857-629b50107752"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"name":"Save API Costs","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1008,400],"id":"02150eb1-16fe-4495-b2c2-ca8ee1d703e2"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get Competitors","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get Competitors","type":"main","index":0}]]},"Get Competitors":{"main":[[{"node":"Filter TikTok Competitors","type":"main","index":0}]]},"Filter TikTok Competitors":{"main":[[{"node":"ScraperCreators - TikTok Posts","type":"main","index":0},{"node":"ScraperCreators - User Info","type":"main","index":0}]]},"ScraperCreators - TikTok Posts":{"main":[[{"node":"Process Videos & Calculate Metrics","type":"main","index":0},{"node":"Prepare API Costs","type":"main","index":0}]]},"ScraperCreators - User Info":{"main":[[{"node":"Process Videos & Calculate Metrics","type":"main","index":0}]]},"Process Videos & Calculate Metrics":{"main":[[{"node":"Get Existing Videos","type":"main","index":0}]]},"Get Existing Videos":{"main":[[{"node":"Filter New Videos","type":"main","index":0}]]},"Filter New Videos":{"main":[[{"node":"Save to Parsed_Videos","type":"main","index":0}]]},"Save to Parsed_Videos":{"main":[[{"node":"Update Competitor (last_parsed)","type":"main","index":0}]]},"Update Competitor (last_parsed)":{"main":[[{"node":"Prepare Summary","type":"main","index":0}]]},"Prepare Summary":{"main":[[{"node":"Has New Videos?","type":"main","index":0}]]},"Has New Videos?":{"main":[[{"node":"Notify Telegram","type":"main","index":0}],[{"node":"Notify No New Videos","type":"main","index":0}]]},"Prepare API Costs":{"main":[[{"node":"Save API Costs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"f3c4794b-d062-419e-96e3-ebf44f3ec611","versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T14:17:54.329Z","createdAt":"2025-12-24T14:17:54.329Z","role":"workflow:owner","workflowId":"fqUk7t9De8NXzQqf","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}