workflow_aklB2WYNAnmhfT43.json
{"updatedAt":"2025-12-26T11:14:52.690Z","createdAt":"2025-12-24T14:19:44.879Z","id":"aklB2WYNAnmhfT43","name":"Workflow 4 - YouTube Parser","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"parse-youtube","options":{}},"name":"Webhook Trigger","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"webhookId":"parse-youtube","id":"c5e2845a-6a29-4ef5-9be8-317254256146"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":12}]}},"name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,208],"id":"9ec680a2-888a-4a78-a114-1ebb04173e84"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Competitors","mode":"name"},"options":{}},"name":"Get YouTube Competitors","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[224,112],"id":"68b5f31f-5e42-4160-8f58-76be46e812fc"},{"parameters":{"method":"POST","url":"https://scrapercreators.com/api/youtube/channel/videos","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"channel_id","value":"={{ $json.channel_id }}"},{"name":"limit","value":"10"}]},"options":{}},"name":"Scrape YouTube Videos","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,112],"id":"a1e3021b-8511-436e-ac95-14a8dbc707a0"},{"parameters":{"jsCode":"// Parse YouTube API response\nconst response = $input.first().json;\nconst competitor = $('Get YouTube Competitors').first().json;\n\nif (!response.data || !response.data.videos) {\n  return [];\n}\n\nconst videos = response.data.videos;\n\nreturn videos.map(video => ({\n  json: {\n    competitor_id: competitor.id,\n    competitor_name: competitor.name,\n    platform: 'youtube',\n    video_id: video.video_id,\n    video_url: `https://www.youtube.com/watch?v=${video.video_id}`,\n    title: video.title,\n    description: video.description,\n    thumbnail_url: video.thumbnails?.high?.url || video.thumbnails?.default?.url,\n    duration: video.duration,\n    views: parseInt(video.view_count) || 0,\n    likes: parseInt(video.like_count) || 0,\n    comments: parseInt(video.comment_count) || 0,\n    published_at: video.published_at,\n    channel_subscribers: parseInt(response.data.subscriber_count) || 0\n  }\n}));"},"name":"Parse Videos Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,112],"id":"cd328cea-096d-4bdc-b72e-032c579fd2f2"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Parsed_Videos","mode":"name"},"options":{}},"name":"Get Existing Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[880,112],"id":"6c6dec5e-c8aa-4811-ab12-2e932c289a37"},{"parameters":{"jsCode":"// Filter only NEW videos\nconst newVideos = $('Parse Videos Data').all();\nconst existingVideos = $input.all();\n\nconst existingIds = new Set(\n  existingVideos.map(v => v.json.video_id)\n);\n\nconst filtered = newVideos.filter(v => !existingIds.has(v.json.video_id));\n\nif (filtered.length === 0) {\n  return [];\n}\n\nreturn filtered;"},"name":"Filter New Videos Only","type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,112],"id":"6b558541-e451-4bf8-bb3a-e5394d48bd49"},{"parameters":{"method":"POST","url":"https://scrapercreators.com/api/youtube/transcript","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"video_id","value":"={{ $json.video_id }}"},{"name":"lang","value":"ru"}]},"options":{}},"name":"Get Video Transcript","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1328,112],"id":"9bb819a9-cd3b-4f35-99a8-30300604addc"},{"parameters":{"jsCode":"// Parse transcript and calculate metrics\nconst transcriptResponse = $input.first().json;\nconst videoData = $('Filter New Videos Only').item.json;\n\n// Extract transcript text\nlet transcript = '';\nif (transcriptResponse.data && transcriptResponse.data.transcript) {\n  transcript = transcriptResponse.data.transcript\n    .map(t => t.text)\n    .join(' ');\n}\n\n// Calculate virality metrics\nconst subscribers = videoData.channel_subscribers || 1;\nconst views = videoData.views || 0;\nconst likes = videoData.likes || 0;\nconst comments = videoData.comments || 0;\n\n// VFR = Views / Subscribers\nconst vfr = (views / subscribers).toFixed(2);\n\n// ER = (Likes + Comments) / Views\nconst er = views > 0 ? (((likes + comments) / views) * 100).toFixed(2) : 0;\n\n// Virality Score (комбинированный)\nconst viralityScore = (parseFloat(vfr) * 0.7 + parseFloat(er) * 0.3).toFixed(2);\n\nreturn {\n  ...videoData,\n  transcript,\n  transcript_length: transcript.length,\n  vfr: parseFloat(vfr),\n  er: parseFloat(er),\n  virality_score: parseFloat(viralityScore),\n  parsed_at: new Date().toISOString()\n};"},"name":"Calculate Metrics","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,112],"id":"2e7e837a-18c7-4521-ab07-8aa42c69dbe7"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $env.GOOGLE_SHEET_ID }}","mode":"id"},"sheetName":{"__rl":true,"value":"Parsed_Videos","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $now.format('yyyyMMddHHmmss') }}_{{ $json.video_id }}","competitor_id":"={{ $json.competitor_id }}","competitor_name":"={{ $json.competitor_name }}","platform":"youtube","video_id":"={{ $json.video_id }}","video_url":"={{ $json.video_url }}","title":"={{ $json.title }}","description":"={{ $json.description }}","thumbnail_url":"={{ $json.thumbnail_url }}","transcript":"={{ $json.transcript }}","duration":"={{ $json.duration }}","views":"={{ $json.views }}","likes":"={{ $json.likes }}","comments":"={{ $json.comments }}","vfr":"={{ $json.vfr }}","er":"={{ $json.er }}","virality_score":"={{ $json.virality_score }}","published_at":"={{ $json.published_at }}","parsed_at":"={{ $json.parsed_at }}"}},"options":{}},"name":"Save to Parsed_Videos","type":"n8n-nodes-base.googleSheets","typeVersion":4.4,"position":[1760,112],"id":"6d0a70e5-1fb3-420d-8ef3-176b0d23adc6"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"videos","options":{}},"name":"Aggregate All Videos","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1984,112],"id":"dbff1445-1e75-4127-92b3-62b1d911b0c8"},{"parameters":{"jsCode":"// Prepare summary for Telegram notification\nconst videos = $input.first().json.videos;\nconst count = videos.length;\n\nif (count === 0) {\n  return { json: { has_videos: false } };\n}\n\n// Sort by virality score\nconst sorted = videos.sort((a, b) => b.virality_score - a.virality_score);\nconst topVideo = sorted[0];\n\nconst summary = `📊 Найдено ${count} новых YouTube видео\\n\\n` +\n  `🔥 Топ по виральности:\\n` +\n  `📹 ${topVideo.title.slice(0, 60)}...\\n` +\n  `👁 ${topVideo.views.toLocaleString()} просмотров\\n` +\n  `📈 VFR: ${topVideo.vfr} | ER: ${topVideo.er}%\\n` +\n  `⭐ Score: ${topVideo.virality_score}\\n\\n` +\n  `💰 Стоимость парсинга: $${(count * 0.03).toFixed(2)}`;\n\nreturn {\n  has_videos: true,\n  count,\n  summary,\n  top_video_url: topVideo.video_url,\n  chat_id: $env.TELEGRAM_CHAT_ID\n};"},"name":"Prepare Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,112],"id":"fca137ad-6fef-4679-8023-dcd0d96e16c7"},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"has-videos","leftValue":"={{ $json.has_videos }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"name":"Has Videos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2432,112],"id":"c6663e8d-384f-461c-8923-68d405118f2f"},{"parameters":{"chatId":"={{ $json.chat_id }}","text":"={{ $json.summary }}","additionalFields":{"disable_web_page_preview":false}},"name":"Notify Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2640,0],"webhookId":"42ceb2e9-6015-4f61-b1e6-12223085a000","id":"5f5fefc9-91ae-4f7f-83e6-8b80030d8f9e"},{"parameters":{"jsCode":"const cost = 0.03;\nreturn {\n    timestamp: new Date().toISOString(),\n    service: 'scraper_creators',\n    operation: 'youtube_parse',\n    cost: cost,\n    details: JSON.stringify({parsed_count: $input.all().length})\n};"},"name":"Prepare API Costs","type":"n8n-nodes-base.code","typeVersion":2,"position":[800,300],"id":"00abebca-969f-4c4d-a5c2-c9c9aa1045ec"},{"parameters":{"operation":"appendOrUpdate","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"API_Costs","options":{"cellFormat":"USER_ENTERED","useAppend":true},"columns":{"mappings":[{"fromColumn":"timestamp","toColumn":"timestamp"},{"fromColumn":"service","toColumn":"service"},{"fromColumn":"operation","toColumn":"operation"},{"fromColumn":"cost","toColumn":"cost"},{"fromColumn":"details","toColumn":"details"}]}},"name":"Save API Costs","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1000,300],"id":"b334ab8e-2cf9-455c-b50f-18b9573bef5c"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Get YouTube Competitors","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get YouTube Competitors","type":"main","index":0}]]},"Get YouTube Competitors":{"main":[[{"node":"Scrape YouTube Videos","type":"main","index":0}]]},"Scrape YouTube Videos":{"main":[[{"node":"Parse Videos Data","type":"main","index":0}]]},"Parse Videos Data":{"main":[[{"node":"Get Existing Videos","type":"main","index":0}]]},"Get Existing Videos":{"main":[[{"node":"Filter New Videos Only","type":"main","index":0}]]},"Filter New Videos Only":{"main":[[{"node":"Get Video Transcript","type":"main","index":0}]]},"Get Video Transcript":{"main":[[{"node":"Calculate Metrics","type":"main","index":0}]]},"Calculate Metrics":{"main":[[{"node":"Save to Parsed_Videos","type":"main","index":0}]]},"Save to Parsed_Videos":{"main":[[{"node":"Aggregate All Videos","type":"main","index":0}]]},"Aggregate All Videos":{"main":[[{"node":"Prepare Summary","type":"main","index":0}]]},"Prepare Summary":{"main":[[{"node":"Has Videos?","type":"main","index":0}]]},"Has Videos?":{"main":[[{"node":"Notify Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3fa8fba5-e332-4796-adcd-1411f7837b10","versionCounter":5,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T14:19:44.879Z","createdAt":"2025-12-24T14:19:44.879Z","role":"workflow:owner","workflowId":"aklB2WYNAnmhfT43","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}