workflow_zIezwsaOknD9yJq8.json
{"updatedAt":"2025-12-26T11:15:57.389Z","createdAt":"2025-12-24T16:02:14.085Z","id":"zIezwsaOknD9yJq8","name":"Workflow 11 - Vector DB & Content Learning","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 * * *"}]}},"name":"Schedule Daily","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[240,400],"id":"03731303-7393-480e-8279-9f3984fec541"},{"parameters":{"httpMethod":"POST","path":"find-similar-content","options":{}},"name":"Webhook: Find Similar","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,650],"webhookId":"find-similar-content","id":"04580e8d-e50e-4588-ba25-16da3a46326b"},{"parameters":{"operation":"getAll","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"Published_Content!A:Z","options":{}},"name":"Get Published Content","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[460,400],"id":"1a630cc3-fdae-49dc-82e7-58d97e527ec4"},{"parameters":{"jsCode":"// Filter successful content (high ER, good metrics)\nconst content = $input.all().map(item => item.json);\n\nconst successful = content.filter(item => {\n  // Parse latest metrics\n  const metrics = JSON.parse(item.metrics_7d || item.metrics_24h || item.metrics_1h || '{}');\n  \n  const er = parseFloat(metrics.er || 0);\n  const views = parseInt(metrics.views || 0);\n  \n  // Define success criteria:\n  // ER > 3% OR views > 10000\n  return er > 3.0 || views > 10000;\n});\n\nreturn successful.map(item => ({json: item}));"},"name":"Filter Successful Content","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,400],"id":"88b07823-aaf1-4561-8542-0ed6cb45cfdb"},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{"temperature":0.3}},"name":"Claude for Analysis","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.9,"position":[900,300],"id":"e9a297f8-3048-4c37-8d1d-7e0fd2853aed"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst metrics = JSON.parse(item.metrics_7d || item.metrics_24h || item.metrics_1h || '{}');\n\n// Create prompt for Claude to extract patterns\nconst prompt = `Проанализируй этот успешный контент и выдели ключевые паттерны успеха.\n\nПлатформа: ${item.platform}\nТип: ${item.content_type}\nНазвание: ${item.title}\nОписание: ${item.description || 'N/A'}\nТекст: ${item.text || 'N/A'}\n\nМетрики:\n- Просмотры: ${metrics.views}\n- Лайки: ${metrics.likes}\n- Комментарии: ${metrics.comments}\n- ER: ${metrics.er}%\n\nВыдели в формате JSON:\n{\n  \"hook\": \"какой хук использован\",\n  \"theme\": \"основная тема\",\n  \"format\": \"формат контента\",\n  \"success_factors\": [\"фактор 1\", \"фактор 2\"],\n  \"target_audience\": \"целевая аудитория\",\n  \"emotions\": [\"эмоция 1\", \"эмоция 2\"],\n  \"keywords\": [\"ключевое слово 1\", \"ключевое слово 2\"]\n}`;\n\nreturn {prompt};"},"name":"Prepare Analysis Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,400],"id":"c41e2be5-bb19-42e5-aa0f-08a1f069415b"},{"parameters":{"options":{}},"name":"AI: Analyze Patterns","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1120,400],"id":"10037b6d-4b77-48e6-80c8-c952fd5711e1"},{"parameters":{"model":"text-embedding-3-small","options":{}},"name":"OpenAI Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1340,300],"id":"e6423fc6-4719-4b06-94d3-59581e951679"},{"parameters":{"jsCode":"const item = $input.all()[0].json;\nconst analysis = JSON.parse($input.all()[1].json.output);\n\n// Create text for embedding\nconst textForEmbedding = `${analysis.theme} ${analysis.hook} ${analysis.format} ${analysis.keywords.join(' ')} ${analysis.success_factors.join(' ')}`;\n\nreturn {\n  content_id: item.row_id,\n  platform: item.platform,\n  content_type: item.content_type,\n  title: item.title,\n  text_for_embedding: textForEmbedding,\n  analysis: analysis,\n  metadata: {\n    published_at: item.published_at,\n    metrics: JSON.parse(item.metrics_7d || item.metrics_24h || item.metrics_1h || '{}'),\n    url: item.post_url\n  }\n};"},"name":"Prepare for Embedding","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,400],"id":"e71492ef-0fd7-4e99-8fd3-f715f1aff56e"},{"parameters":{"operation":"insert","tableId":"viral_content_patterns","options":{}},"name":"Save to Supabase Vector DB","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1560,400],"id":"a0bfac24-6050-4948-99b2-9da8262731df"},{"parameters":{"jsCode":"const query = $json.body?.query || '';\nconst limit = $json.body?.limit || 5;\n\nreturn {query, limit};"},"name":"Parse Search Query","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,650],"id":"01d884f5-37f3-4678-866a-3cb0955694af"},{"parameters":{"operation":"search","tableId":"viral_content_patterns","options":{"topK":"={{ $json.limit }}"}},"name":"Search Similar Content","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[680,650],"id":"d858129d-c3c8-4115-86f5-4eac864976d0"},{"parameters":{"jsCode":"const results = $input.all();\n\n// Format results for response\nconst formatted = results.map((item, index) => {\n  const data = item.json;\n  return {\n    rank: index + 1,\n    similarity: data.similarity || 'N/A',\n    platform: data.metadata?.platform,\n    title: data.metadata?.title,\n    hook: data.analysis?.hook,\n    theme: data.analysis?.theme,\n    format: data.analysis?.format,\n    success_factors: data.analysis?.success_factors,\n    metrics: data.metadata?.metrics,\n    url: data.metadata?.url\n  };\n});\n\nconst message = `🔍 Найдено ${formatted.length} похожих успешных примеров:\\n\\n` +\n  formatted.map(item => \n    `${item.rank}. ${item.title}\\n` +\n    `   📊 ${item.platform} | ER: ${item.metrics?.er}%\\n` +\n    `   🎯 Хук: ${item.hook}\\n` +\n    `   💡 Факторы успеха: ${item.success_factors?.join(', ')}\\n` +\n    `   🔗 ${item.url}`\n  ).join('\\n\\n');\n\nreturn {\n  message,\n  results: formatted,\n  chatId: $('Parse Search Query').item.json.body?.chatId || process.env.TELEGRAM_CHAT_ID\n};"},"name":"Format Search Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,650],"id":"d9cfde4b-5642-4a01-8fbe-d8948774445c"},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}"},"name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1120,650],"id":"cc842bbf-6f50-4451-919a-b209932cea5f"},{"parameters":{"jsCode":"// Claude analysis + OpenAI embeddings\nconst contentCount = $input.all().length || 1;\nconst claudeCost = contentCount * 0.05; // per analysis\nconst embeddingCost = contentCount * 0.0001; // very cheap\nconst totalCost = claudeCost + embeddingCost;\n\nreturn {\n    timestamp: new Date().toISOString(),\n    service: 'multiple',\n    operation: 'vector_db_learning',\n    cost: totalCost,\n    details: JSON.stringify({\n        claude: claudeCost,\n        openai_embeddings: embeddingCost,\n        content_analyzed: contentCount\n    })\n};"},"name":"Calculate API Costs","type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,300],"id":"78d084f3-2f5f-4146-bae5-c755fadefc92"},{"parameters":{"operation":"appendOrUpdate","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"API_Costs","options":{"cellFormat":"USER_ENTERED","useAppend":true},"columns":{"mappings":[{"fromColumn":"timestamp","toColumn":"timestamp"},{"fromColumn":"service","toColumn":"service"},{"fromColumn":"operation","toColumn":"operation"},{"fromColumn":"cost","toColumn":"cost"},{"fromColumn":"details","toColumn":"details"}]}},"name":"Save API Costs","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1800,300],"id":"cea0fcb8-8020-463f-8140-1af4cc68e55a"}],"connections":{"Schedule Daily":{"main":[[{"node":"Get Published Content","type":"main","index":0}]]},"Webhook: Find Similar":{"main":[[{"node":"Parse Search Query","type":"main","index":0}]]},"Get Published Content":{"main":[[{"node":"Filter Successful Content","type":"main","index":0}]]},"Filter Successful Content":{"main":[[{"node":"Prepare Analysis Prompt","type":"main","index":0},{"node":"Prepare for Embedding","type":"main","index":0}]]},"Prepare Analysis Prompt":{"main":[[{"node":"AI: Analyze Patterns","type":"main","index":0}]]},"AI: Analyze Patterns":{"main":[[{"node":"Prepare for Embedding","type":"main","index":1}]]},"Prepare for Embedding":{"main":[[{"node":"Save to Supabase Vector DB","type":"main","index":0}]]},"Claude for Analysis":{"ai_languageModel":[[{"node":"AI: Analyze Patterns","type":"ai_languageModel","index":0}]]},"OpenAI Embeddings":{"ai_embedding":[[{"node":"Save to Supabase Vector DB","type":"ai_embedding","index":0}]]},"Parse Search Query":{"main":[[{"node":"Search Similar Content","type":"main","index":0}]]},"Search Similar Content":{"main":[[{"node":"Format Search Results","type":"main","index":0}]]},"Format Search Results":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]},"Calculate API Costs":{"main":[[{"node":"Save API Costs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1fa43e4d-5123-44ba-afa2-7292516a45f2","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2025-12-24T16:02:14.085Z","createdAt":"2025-12-24T16:02:14.085Z","role":"workflow:owner","workflowId":"zIezwsaOknD9yJq8","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}