workflow_BtVjR7i5Gd2cQE2d.json
{"updatedAt":"2025-12-26T11:15:59.821Z","createdAt":"2025-12-25T10:39:28.460Z","id":"BtVjR7i5Gd2cQE2d","name":"Workflow 12 - Pinterest Publisher","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"publish-pinterest","options":{}},"id":"webhook-trigger","name":"Webhook: Publish Pinterest","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,400],"webhookId":"publish-pinterest"},{"parameters":{"operation":"getAll","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"Generated_Content!A:Z","options":{"valueRenderMode":"UNFORMATTED_VALUE"}},"id":"get-content","name":"Get Content from Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[460,400]},{"parameters":{"jsCode":"// Get content_id from webhook or use first unpublished from queue\nconst webhookData = $('Webhook: Publish Pinterest').first().json.body;\nconst contentQueue = $input.all();\n\nlet contentToPublish;\n\nif (webhookData?.content_id) {\n  // Specific content requested\n  contentToPublish = contentQueue.find(item => item.json.id === webhookData.content_id);\n} else {\n  // Get first unpublished carousel or video suitable for Pinterest\n  contentToPublish = contentQueue.find(item => \n    item.json.status === 'ready' && \n    (item.json.type === 'carousel' || item.json.type === 'video') &&\n    (!item.json.published_platforms || !item.json.published_platforms.includes('pinterest'))\n  );\n}\n\nif (!contentToPublish) {\n  throw new Error('No content found to publish');\n}\n\nreturn contentToPublish;"},"id":"select-content","name":"Select Content to Publish","type":"n8n-nodes-base.code","typeVersion":2,"position":[680,400]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.type }}","operation":"equals","value2":"carousel"}]}},"id":"check-content-type","name":"Check Content Type","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,400]},{"parameters":{"jsCode":"// Carousel: prepare multiple images\nconst content = $json;\nconst images = JSON.parse(content.images_urls || '[]');\n\nif (images.length === 0) {\n  throw new Error('No images found in carousel');\n}\n\n// Pinterest supports multiple images in one pin (carousel)\nreturn {\n  title: content.title,\n  description: content.description,\n  link: content.source_url || '',\n  board_id: $env.PINTEREST_BOARD_ID || 'default',\n  media_source: {\n    source_type: 'multiple_image_urls',\n    items: images.map(url => ({\n      url: url,\n      title: content.title,\n      description: content.description\n    }))\n  },\n  content_id: content.id,\n  content_type: 'carousel',\n  note: `Опубликовано из Content Factory\\nТип: ${content.type}\\nСоздано: ${content.created_at}`\n};"},"id":"prepare-carousel","name":"Prepare Carousel Pin","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,300]},{"parameters":{"jsCode":"// Video/Reel: prepare video pin\nconst content = $json;\nconst videoUrl = content.video_url;\n\nif (!videoUrl) {\n  throw new Error('No video URL found');\n}\n\n// Get cover image (first image from carousel or generated cover)\nconst images = JSON.parse(content.images_urls || '[]');\nconst coverImage = images.length > 0 ? images[0] : null;\n\nreturn {\n  title: content.title,\n  description: content.description,\n  link: content.source_url || '',\n  board_id: $env.PINTEREST_BOARD_ID || 'default',\n  media_source: {\n    source_type: 'video_url',\n    url: videoUrl,\n    cover_image_url: coverImage\n  },\n  content_id: content.id,\n  content_type: 'video',\n  note: `Опубликовано из Content Factory\\nТип: ${content.type}\\nСоздано: ${content.created_at}`\n};"},"id":"prepare-video","name":"Prepare Video Pin","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,500]},{"parameters":{"url":"https://api.pinterest.com/v5/pins","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  board_id: $json.board_id,\n  title: $json.title,\n  description: $json.description,\n  link: $json.link,\n  media_source: $json.media_source,\n  note: $json.note\n}) }}","options":{"response":{"response":{"responseFormat":"json"}}}},"id":"pinterest-create-pin","name":"Pinterest: Create Pin","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1340,400]},{"parameters":{"jsCode":"// Extract Pinterest response\nconst pinResponse = $json;\nconst preparedData = $('Check Content Type').item.json;\n\n// Check if pin was created successfully\nif (!pinResponse.id) {\n  throw new Error(`Pinterest API error: ${JSON.stringify(pinResponse)}`);\n}\n\nreturn {\n  content_id: preparedData.content_id,\n  content_type: preparedData.content_type,\n  platform: 'pinterest',\n  pin_id: pinResponse.id,\n  pin_url: pinResponse.url || `https://www.pinterest.com/pin/${pinResponse.id}/`,\n  board_id: pinResponse.board_id,\n  title: preparedData.title,\n  description: preparedData.description,\n  published_at: new Date().toISOString(),\n  status: 'published',\n  media_type: preparedData.content_type\n};"},"id":"process-response","name":"Process Pinterest Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,400]},{"parameters":{"operation":"appendOrUpdate","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"Published_Content","options":{"cellFormat":"USER_ENTERED","useAppend":true},"columns":{"mappings":[{"fromColumn":"platform","toColumn":"platform"},{"fromColumn":"content_type","toColumn":"content_type"},{"fromColumn":"content_id","toColumn":"content_id"},{"fromColumn":"title","toColumn":"title"},{"fromColumn":"description","toColumn":"description"},{"fromColumn":"pin_id","toColumn":"post_id"},{"fromColumn":"pin_url","toColumn":"post_url"},{"fromColumn":"published_at","toColumn":"published_at"},{"fromColumn":"status","toColumn":"status"}]}},"id":"save-published-content","name":"Save to Published_Content","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[1780,400]},{"parameters":{"operation":"update","sheetId":"={{ $env.GOOGLE_SHEET_ID }}","range":"Generated_Content","options":{"cellFormat":"USER_ENTERED"},"columns":{"mappings":[{"fromColumn":"content_id","toColumn":"id"},{"fromColumn":"status","toColumn":"status"},{"fromColumn":"published_at","toColumn":"published_to_pinterest_at"}]}},"id":"update-content-queue","name":"Update Content Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2000,400]},{"parameters":{"jsCode":"const data = $json;\n\nconst message = `✅ Опубликовано в Pinterest!\\n\\n` +\n  `📌 Тип: ${data.content_type === 'carousel' ? 'Карусель' : 'Видео'}\\n` +\n  `📝 ${data.title}\\n\\n` +\n  `🔗 ${data.pin_url}\\n\\n` +\n  `Контент ID: ${data.content_id}`;\n\nreturn {\n  message,\n  chatId: process.env.TELEGRAM_CHAT_ID,\n  pin_url: data.pin_url,\n  content_type: data.content_type\n};"},"id":"format-notification","name":"Format Notification","type":"n8n-nodes-base.code","typeVersion":2,"position":[2220,400]},{"parameters":{"chatId":"={{ $json.chatId }}","text":"={{ $json.message }}","additionalFields":{"disable_web_page_preview":false}},"id":"send-telegram","name":"Send to Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2440,400]}],"connections":{"Webhook: Publish Pinterest":{"main":[[{"node":"Get Content from Queue","type":"main","index":0}]]},"Get Content from Queue":{"main":[[{"node":"Select Content to Publish","type":"main","index":0}]]},"Select Content to Publish":{"main":[[{"node":"Check Content Type","type":"main","index":0}]]},"Check Content Type":{"main":[[{"node":"Prepare Carousel Pin","type":"main","index":0}],[{"node":"Prepare Video Pin","type":"main","index":0}]]},"Prepare Carousel Pin":{"main":[[{"node":"Pinterest: Create Pin","type":"main","index":0}]]},"Prepare Video Pin":{"main":[[{"node":"Pinterest: Create Pin","type":"main","index":0}]]},"Pinterest: Create Pin":{"main":[[{"node":"Process Pinterest Response","type":"main","index":0}]]},"Process Pinterest Response":{"main":[[{"node":"Save to Published_Content","type":"main","index":0}]]},"Save to Published_Content":{"main":[[{"node":"Update Content Queue","type":"main","index":0}]]},"Update Content Queue":{"main":[[{"node":"Format Notification","type":"main","index":0}]]},"Format Notification":{"main":[[{"node":"Send to Telegram","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"24cf1118-2c0b-4058-8cff-d897448889f4","versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-12-25T10:39:28.460Z","createdAt":"2025-12-25T10:39:28.460Z","role":"workflow:owner","workflowId":"BtVjR7i5Gd2cQE2d","projectId":"RBPPu9AATeVK4CWS","project":{"updatedAt":"2025-09-12T08:23:30.032Z","createdAt":"2025-04-06T11:26:22.366Z","id":"RBPPu9AATeVK4CWS","name":"Ruslan 111 <105ford329@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-04-06T11:26:22.366Z","createdAt":"2025-04-06T11:26:22.366Z","userId":"857820b0-f530-430a-b69c-96a0ec14e554","projectId":"RBPPu9AATeVK4CWS","user":{"updatedAt":"2026-01-15T07:57:19.897Z","createdAt":"2025-04-06T11:26:21.157Z","id":"857820b0-f530-430a-b69c-96a0ec14e554","email":"105ford329@gmail.com","firstName":"Ruslan","lastName":"111","personalizationAnswers":null,"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"28ntO5KaE2bWGofZ","userActivatedAt":1746260344700,"npsSurvey":{"responded":true,"lastShownAt":1762343016289},"dismissedCallouts":{"preBuiltAgentsCalloutTelegram":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-14","isPending":false}}]}}],"tags":[]}