fixed_workflows/workflow_aeK9XrhduilWSoLX_FIXED.json
{
  "updatedAt": "2026-01-14T13:56:46.960Z",
  "createdAt": "2025-12-24T15:34:52.527Z",
  "id": "aeK9XrhduilWSoLX",
  "name": "Workflow 7 - YouTube Deep Analysis",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 23 */3 * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        840
      ],
      "id": "edf0f876-6af5-43ef-96b3-b3a8f198df7b"
    },
    {
      "parameters": {
        "path": "youtube-channel-analysis",
        "options": {}
      },
      "name": "Webhook - Add Channel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "webhookId": "youtube-channel-analysis",
      "id": "33173e5f-53e9-4b64-9060-79add3c1827f"
    },
    {
      "parameters": {
        "path": "youtube-video-transcribe",
        "options": {}
      },
      "name": "Webhook - Transcribe Video",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1200
      ],
      "webhookId": "youtube-video-transcribe",
      "id": "a1c2d40d-b47b-4bab-ba34-9d90d3b5001c"
    },
    {
      "parameters": {
        "path": "youtube-shorts-transcribe",
        "options": {}
      },
      "name": "Webhook - Transcribe Shorts",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        1600
      ],
      "webhookId": "youtube-shorts-transcribe",
      "id": "3401b0f1-a352-4c74-8f21-bdc97408919d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.scrapercreators.com/v1/youtube/channel/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_url\": \"{{ $json.query.url || $json.body.url }}\",\n  \"include_videos\": true,\n  \"include_shorts\": true,\n  \"videos_limit\": 50,\n  \"include_stats\": true\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "ScraperCreators - Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        304
      ],
      "id": "ebc5f447-b05f-4065-9008-fd4ab8100d1f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "amount": 90
      },
      "name": "Wait 90s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        208
      ],
      "id": "73ed0340-a256-4de1-8220-edde87310cce",
      "webhookId": "3e6f91fb-0a11-4a7f-b5e4-26c28f03d694"
    },
    {
      "parameters": {
        "url": "=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Channel').item.json.job_id }}/results",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Channel Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        208
      ],
      "id": "8ec8c5b0-4a11-401d-9bcd-5ffa32a08739",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем данные канала\nconst items = $input.all();\nconst channel = items[0]?.json;\n\nif (!channel) return [];\n\nreturn [{\n  json: {\n    channel_name: channel.channelName || channel.title || '',\n    channel_username: channel.channelUsername || channel.customUrl || '',\n    channel_url: channel.channelUrl || $('Webhook - Add Channel').item.json.query?.url || '',\n    avatar_url: channel.channelAvatarUrl || channel.thumbnailUrl || '',\n    subscribers: channel.subscriberCount || channel.aboutChannelInfo?.numberOfSubscribers || 0,\n    total_videos: channel.videoCount || channel.aboutChannelInfo?.channelTotalVideos || 0,\n    total_views: channel.viewCount || channel.aboutChannelInfo?.channelTotalViews || 0,\n    description: channel.channelDescription || channel.description || '',\n    joined_date: channel.aboutChannelInfo?.channelJoinedDate || '',\n    country: channel.aboutChannelInfo?.channelLocation || '',\n    link_1: channel.aboutChannelInfo?.channelDescriptionLinks?.[0]?.url || '',\n    link_2: channel.aboutChannelInfo?.channelDescriptionLinks?.[1]?.url || '',\n    added_date: new Date().toISOString()\n  }\n}];"
      },
      "name": "Extract Channel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        208
      ],
      "id": "f8cd4b51-db89-4dcf-b65c-afcec782b5a6"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Channels",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "name": "Save Channel",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1360,
        208
      ],
      "id": "78662944-f9b1-4f11-b0fb-8173398f022c",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "shorts",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "shorts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "name": "Switch - Shorts/Video",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1584,
        208
      ],
      "id": "a9d57d09-7686-4740-bfc3-f57d448b50e7"
    },
    {
      "parameters": {
        "jsCode": "// Обработка Shorts с метриками виральности\nconst items = $input.all();\nconst channelData = $('Extract Channel Data').item.json;\n\nreturn items.map(item => {\n  const d = item.json;\n  const views = d.viewCount || 0;\n  const likes = d.likes || 0;\n  const comments = d.commentsCount || 0;\n  const followers = channelData.subscribers || 0;\n  \n  // Вычисляем метрики виральности\n  const vfr = followers > 0 ? (views / followers) : 0;\n  const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n  \n  // Определяем VIRALITY и ENGAGEMENT\n  let virality = 'LOW';\n  if (vfr > 1) virality = 'VIRUS';\n  else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n  \n  let engagement = 'LOW ER';\n  if (er > 5) engagement = 'BEST ER';\n  else if (er > 2) engagement = 'AVERAGE ER';\n  \n  return {\n    json: {\n      media_id: d.id,\n      media_url: d.url,\n      cover_url: d.thumbnailUrl,\n      title: d.title || '',\n      views: views,\n      likes: likes,\n      comments: comments,\n      duration: d.duration || 0,\n      posted_date: d.date || '',\n      channel_username: channelData.channel_username,\n      channel_subscribers: followers,\n      vfr: vfr.toFixed(4),\n      er: er.toFixed(2),\n      virality: virality,\n      engagement: engagement,\n      type: 'shorts',\n      added_date: new Date().toISOString()\n    }\n  };\n});"
      },
      "name": "Process Shorts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        112
      ],
      "id": "f10b66dc-f01c-4ec7-8480-7f85b74761a9"
    },
    {
      "parameters": {
        "jsCode": "// Обработка Videos с метриками виральности\nconst items = $input.all();\nconst channelData = $('Extract Channel Data').item.json;\n\nreturn items.map(item => {\n  const d = item.json;\n  const views = d.viewCount || 0;\n  const likes = d.likes || 0;\n  const comments = d.commentsCount || 0;\n  const followers = channelData.subscribers || 0;\n  \n  // Вычисляем метрики виральности\n  const vfr = followers > 0 ? (views / followers) : 0;\n  const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n  \n  // Определяем VIRALITY и ENGAGEMENT\n  let virality = 'LOW';\n  if (vfr > 1) virality = 'VIRUS';\n  else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n  \n  let engagement = 'LOW ER';\n  if (er > 5) engagement = 'BEST ER';\n  else if (er > 2) engagement = 'AVERAGE ER';\n  \n  return {\n    json: {\n      media_id: d.id,\n      media_url: d.url,\n      cover_url: d.thumbnailUrl,\n      title: d.title || '',\n      views: views,\n      likes: likes,\n      comments: comments,\n      duration: d.duration || 0,\n      posted_date: d.date || '',\n      channel_username: channelData.channel_username,\n      channel_subscribers: followers,\n      vfr: vfr.toFixed(4),\n      er: er.toFixed(2),\n      virality: virality,\n      engagement: engagement,\n      type: 'video',\n      added_date: new Date().toISOString()\n    }\n  };\n});"
      },
      "name": "Process Videos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        304
      ],
      "id": "5d9c243f-7467-49fe-b7e3-889c8403dc9c"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Shorts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "name": "Save Shorts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2032,
        112
      ],
      "id": "a7dbbe0f-b4e4-49d7-8a62-704b425c2790",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Videos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "name": "Save Videos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2032,
        304
      ],
      "id": "66f712c7-063c-4acd-8a67-ae7c02344e28",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Channels",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get All Channels",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        464,
        840
      ],
      "id": "409cea02-a08b-4eb3-aba7-5c9d9618200a",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Over Channels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        840
      ],
      "id": "50965815-35fc-4bd6-ade4-8e249cd849b4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.scrapercreators.com/v1/youtube/channel/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_url\": \"{{ $json.channel_url }}\",\n  \"include_videos\": true,\n  \"include_shorts\": true,\n  \"videos_limit\": 20,\n  \"include_stats\": true\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "ScraperCreators - Batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        624
      ],
      "id": "bb7e49a1-b834-4bb3-b97b-c3878bb92e88",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "amount": 90
      },
      "name": "Wait 90s Batch",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1136,
        624
      ],
      "id": "1f800ffb-d211-4cbf-8f72-b69e66946f13",
      "webhookId": "636fc192-7811-4dba-a017-1934b20818b8"
    },
    {
      "parameters": {
        "url": "=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Batch').item.json.job_id }}/results",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Batch Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        624
      ],
      "id": "9d57392a-ab11-413c-bda6-d0a28f08a991",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обрабатываем новые видео и шортсы из batch парсинга\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const videos = item.json.videos || [];\n  const shorts = item.json.shorts || [];\n  const channelData = item.json;\n  const followers = channelData.subscriberCount || 0;\n  \n  // Обработка видео\n  for (const v of videos) {\n    const views = v.viewCount || 0;\n    const likes = v.likes || 0;\n    const comments = v.commentsCount || 0;\n    \n    const vfr = followers > 0 ? (views / followers) : 0;\n    const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n    \n    let virality = 'LOW';\n    if (vfr > 1) virality = 'VIRUS';\n    else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n    \n    let engagement = 'LOW ER';\n    if (er > 5) engagement = 'BEST ER';\n    else if (er > 2) engagement = 'AVERAGE ER';\n    \n    results.push({\n      json: {\n        media_id: v.id,\n        media_url: v.url,\n        cover_url: v.thumbnailUrl,\n        title: v.title || '',\n        views, likes, comments,\n        duration: v.duration || 0,\n        posted_date: v.date || '',\n        channel_username: channelData.channelUsername || '',\n        channel_subscribers: followers,\n        vfr: vfr.toFixed(4),\n        er: er.toFixed(2),\n        virality, engagement,\n        type: 'video',\n        added_date: new Date().toISOString()\n      }\n    });\n  }\n  \n  // Обработка shorts\n  for (const s of shorts) {\n    const views = s.viewCount || 0;\n    const likes = s.likes || 0;\n    const comments = s.commentsCount || 0;\n    \n    const vfr = followers > 0 ? (views / followers) : 0;\n    const er = views > 0 ? ((likes + comments) / views * 100) : 0;\n    \n    let virality = 'LOW';\n    if (vfr > 1) virality = 'VIRUS';\n    else if (vfr > 0.3 || views > 100000) virality = 'AVERAGE';\n    \n    let engagement = 'LOW ER';\n    if (er > 5) engagement = 'BEST ER';\n    else if (er > 2) engagement = 'AVERAGE ER';\n    \n    results.push({\n      json: {\n        media_id: s.id,\n        media_url: s.url,\n        cover_url: s.thumbnailUrl,\n        title: s.title || '',\n        views, likes, comments,\n        duration: s.duration || 0,\n        posted_date: s.date || '',\n        channel_username: channelData.channelUsername || '',\n        channel_subscribers: followers,\n        vfr: vfr.toFixed(4),\n        er: er.toFixed(2),\n        virality, engagement,\n        type: 'shorts',\n        added_date: new Date().toISOString()\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "name": "Process Batch Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        624
      ],
      "id": "d9eb45fe-2459-4741-97ac-b12cc93e490b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "shorts",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "shorts"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "name": "Switch Batch Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1808,
        624
      ],
      "id": "c8b2399e-8307-438c-8b4e-4842ff94a44e"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Shorts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "name": "Save Batch Shorts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2032,
        696
      ],
      "id": "3d156d7c-c3aa-487c-b31d-3f7a1bfe0f90",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Videos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData"
        },
        "options": {}
      },
      "name": "Save Batch Videos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2032,
        888
      ],
      "id": "fa99d4d0-9c33-41fb-980f-e11d7d74fd30",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Videos",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get Video Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        480,
        1200
      ],
      "id": "bc6155d6-387c-4e86-be02-6776930a8845",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.scrapercreators.com/v1/youtube/transcript/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.media_url }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "ScraperCreators - Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1200
      ],
      "id": "f48ca867-1791-43dd-8304-f266cc9494be",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "name": "Wait 60s Transcript",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        1200
      ],
      "id": "af414b4a-b555-41d6-8bb6-25bdaca2eab7",
      "webhookId": "2b2fa698-2fa0-4d43-bc45-f213919b23b1"
    },
    {
      "parameters": {
        "url": "=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Transcript').item.json.job_id }}/results",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Transcript Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        1200
      ],
      "id": "06069b8c-96f9-480b-9be1-1f071cf75a11",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Извлекаем транскрипт\nconst items = $input.all();\nconst transcript = items[0]?.json;\n\nreturn [{\n  json: {\n    text: transcript?.text || transcript?.transcript || '',\n    video_id: $('Get Video Info').item.json.media_id,\n    title: $('Get Video Info').item.json.title\n  }\n}];"
      },
      "name": "Extract Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        1200
      ],
      "id": "860f04ba-8d1e-4b3a-bc40-f2074b47140f"
    },
    {
      "parameters": {
        "title": "=Транскрипт: {{ $json.title }}"
      },
      "name": "Create Google Doc",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1584,
        1200
      ],
      "id": "22a58502-9904-4bad-856f-3a62f44e5699",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets Main link"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "name": "OpenAI - Rewrite Script",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1808,
        1200
      ],
      "id": "3661219d-9e51-4f83-8a91-8df71da1f89b",
      "credentials": {
        "openAiApi": {
          "id": "BPj3GH3bI2f4q6aI",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Videos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "media_id": "={{ $('Get Video Info').item.json.media_id }}",
            "original_script": "={{ $('Extract Transcript').item.json.text }}",
            "rewritten_script": "={{ $json.text }}",
            "doc_url": "={{ $('Create Google Doc').item.json.webViewLink }}"
          },
          "matchingColumns": [
            "media_id"
          ]
        },
        "options": {}
      },
      "name": "Update Video with Transcript",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        2032,
        1200
      ],
      "id": "a31699f8-8390-4695-966a-158a9d152529",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Shorts",
          "mode": "name"
        },
        "options": {}
      },
      "name": "Get Shorts Info",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        480,
        1600
      ],
      "id": "8e8ff330-136c-445b-8dfa-64131bb420ff",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.scrapercreators.com/v1/youtube/transcript/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_url\": \"{{ $json.media_url }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "name": "ScraperCreators - Shorts Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1600
      ],
      "id": "085915f4-804c-42ba-bf7b-7b4dc0ec5ae4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "name": "Wait 60s Shorts",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        1600
      ],
      "id": "2340162b-5a2d-44f2-b60c-8d2e66306c92",
      "webhookId": "6d4d0aeb-ac3c-4969-9ea9-36cfc0cea3c5"
    },
    {
      "parameters": {
        "url": "=https://api.scrapercreators.com/v1/jobs/{{ $('ScraperCreators - Shorts Transcript').item.json.job_id }}/results",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get Shorts Transcript Results",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        1600
      ],
      "id": "d1b10dfb-a0f6-402d-a560-79a6bb51ffcc",
      "credentials": {
        "httpHeaderAuth": {
          "id": "fZGnjUIKCVNKz54C",
          "name": "ScraperCreators API"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "name": "OpenAI - Rewrite Shorts",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1360,
        1600
      ],
      "id": "6f8a4024-8521-4cf4-991e-88f4bc79861b",
      "credentials": {
        "openAiApi": {
          "id": "BPj3GH3bI2f4q6aI",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube_Shorts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "media_id": "={{ $('Get Shorts Info').item.json.media_id }}",
            "original_script": "={{ $('Get Shorts Transcript Results').item.json.text || $('Get Shorts Transcript Results').item.json.transcript }}",
            "rewritten_script": "={{ $json.text }}"
          },
          "matchingColumns": [
            "media_id"
          ]
        },
        "options": {}
      },
      "name": "Update Shorts with Transcript",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1584,
        1600
      ],
      "id": "6deab887-6a30-4af1-ba32-7269aaeac585",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_MONITORING_CHAT_ID }}",
        "text": "=📺 YouTube канал добавлен!\n\n📊 {{ $('Extract Channel Data').item.json.channel_name }}\n👥 Подписчиков: {{ $('Extract Channel Data').item.json.subscribers }}\n🎬 Видео: {{ $('Extract Channel Data').item.json.total_videos }}\n👁 Просмотров: {{ $('Extract Channel Data').item.json.total_views }}\n\n🔗 {{ $('Extract Channel Data').item.json.channel_url }}",
        "additionalFields": {}
      },
      "name": "Telegram - Channel Added",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        304
      ],
      "id": "233836a3-ba63-404a-9588-3635da007de1",
      "webhookId": "9cb5f842-cb73-426c-bd39-f41637846389",
      "credentials": {
        "telegramApi": {
          "id": "RpN2LGvNZWwqquLw",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📺 Workflow 7: YouTube Анализ конкурентов\n\n**Триггеры:**\n1. Webhook - добавление нового канала\n2. Schedule - автопарсинг всех каналов (раз в 3 дня)\n3. Webhook - транскрибация видео\n4. Webhook - транскрибация шортсов\n\n**Что делает:**\n1. Парсит каналы через ScraperCreators\n2. Собирает видео и shorts с метриками\n3. Вычисляет VFR, ER, VIRALITY, ENGAGEMENT\n4. Сохраняет в Google Sheets\n5. Транскрибирует и переписывает скрипты через GPT\n\n**Листы в Google Sheets:**\n- YouTube_Channels\n- YouTube_Videos\n- YouTube_Shorts\n\n**Environment Variables:**\n- GOOGLE_SHEET_ID\n- SCRAPERCREATORS_CREDENTIALS_ID\n- GOOGLE_SHEETS_CREDENTIALS_ID\n- GOOGLE_DOCS_CREDENTIALS_ID\n- OPENAI_CREDENTIALS_ID\n- TELEGRAM_CREDENTIALS_ID\n- TELEGRAM_MONITORING_CHAT_ID\n- GOOGLE_DOCS_FOLDER_ID",
        "height": 520,
        "width": 380,
        "color": 7
      },
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        144
      ],
      "id": "3e7558ba-ce36-4278-91c2-31961a4e40d4"
    },
    {
      "parameters": {
        "jsCode": "const cost = 0.03;\nreturn {\n    timestamp: new Date().toISOString(),\n    service: 'scraper_creators',\n    operation: 'youtube_deep_parse',\n    cost: cost,\n    details: JSON.stringify({parsed_count: $input.all().length})\n};"
      },
      "name": "Prepare API Costs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        400
      ],
      "id": "0d39cdd8-d911-4670-96d1-2259e0dac054"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "name": "Save API Costs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        912,
        400
      ],
      "id": "06c008c2-a3e0-4987-9170-749a12f392d0",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VYgLH1nyxvDHNqbF",
          "name": "Google Sheets Main link"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Add Channel": {
      "main": [
        [
          {
            "node": "ScraperCreators - Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScraperCreators - Channel": {
      "main": [
        [
          {
            "node": "Wait 90s",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare API Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 90s": {
      "main": [
        [
          {
            "node": "Get Channel Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel Results": {
      "main": [
        [
          {
            "node": "Extract Channel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Channel Data": {
      "main": [
        [
          {
            "node": "Save Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Channel": {
      "main": [
        [
          {
            "node": "Switch - Shorts/Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Shorts/Video": {
      "main": [
        [
          {
            "node": "Process Shorts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Shorts": {
      "main": [
        [
          {
            "node": "Save Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Videos": {
      "main": [
        [
          {
            "node": "Save Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Videos": {
      "main": [
        [
          {
            "node": "Telegram - Channel Added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Channels": {
      "main": [
        [
          {
            "node": "Loop Over Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Channels": {
      "main": [
        [],
        [
          {
            "node": "ScraperCreators - Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScraperCreators - Batch": {
      "main": [
        [
          {
            "node": "Wait 90s Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 90s Batch": {
      "main": [
        [
          {
            "node": "Get Batch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batch Results": {
      "main": [
        [
          {
            "node": "Process Batch Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Batch Results": {
      "main": [
        [
          {
            "node": "Switch Batch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Batch Type": {
      "main": [
        [
          {
            "node": "Save Batch Shorts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Batch Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Batch Shorts": {
      "main": [
        [
          {
            "node": "Loop Over Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Batch Videos": {
      "main": [
        [
          {
            "node": "Loop Over Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Transcribe Video": {
      "main": [
        [
          {
            "node": "Get Video Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Info": {
      "main": [
        [
          {
            "node": "ScraperCreators - Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScraperCreators - Transcript": {
      "main": [
        [
          {
            "node": "Wait 60s Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s Transcript": {
      "main": [
        [
          {
            "node": "Get Transcript Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Transcript Results": {
      "main": [
        [
          {
            "node": "Extract Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Transcript": {
      "main": [
        [
          {
            "node": "Create Google Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Doc": {
      "main": [
        [
          {
            "node": "OpenAI - Rewrite Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Rewrite Script": {
      "main": [
        [
          {
            "node": "Update Video with Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Transcribe Shorts": {
      "main": [
        [
          {
            "node": "Get Shorts Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shorts Info": {
      "main": [
        [
          {
            "node": "ScraperCreators - Shorts Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScraperCreators - Shorts Transcript": {
      "main": [
        [
          {
            "node": "Wait 60s Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s Shorts": {
      "main": [
        [
          {
            "node": "Get Shorts Transcript Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shorts Transcript Results": {
      "main": [
        [
          {
            "node": "OpenAI - Rewrite Shorts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Rewrite Shorts": {
      "main": [
        [
          {
            "node": "Update Shorts with Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare API Costs": {
      "main": [
        [
          {
            "node": "Save API Costs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "811c8ec2-b70c-4dff-9f96-8608b091ce57",
  "versionCounter": 6,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-24T15:34:52.527Z",
      "createdAt": "2025-12-24T15:34:52.527Z",
      "role": "workflow:owner",
      "workflowId": "aeK9XrhduilWSoLX",
      "projectId": "RBPPu9AATeVK4CWS",
      "project": {
        "updatedAt": "2025-09-12T08:23:30.032Z",
        "createdAt": "2025-04-06T11:26:22.366Z",
        "id": "RBPPu9AATeVK4CWS",
        "name": "Ruslan 111 <105ford329@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-04-06T11:26:22.366Z",
            "createdAt": "2025-04-06T11:26:22.366Z",
            "userId": "857820b0-f530-430a-b69c-96a0ec14e554",
            "projectId": "RBPPu9AATeVK4CWS",
            "user": {
              "updatedAt": "2026-01-15T07:57:19.897Z",
              "createdAt": "2025-04-06T11:26:21.157Z",
              "id": "857820b0-f530-430a-b69c-96a0ec14e554",
              "email": "105ford329@gmail.com",
              "firstName": "Ruslan",
              "lastName": "111",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "28ntO5KaE2bWGofZ",
                "userActivatedAt": 1746260344700,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1762343016289
                },
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutTelegram": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-14",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}