archive/workflow_fixed_router.json
{
  "updatedAt": "2026-01-13T09:50:00.703Z",
  "createdAt": "2025-12-20T10:12:39.875Z",
  "id": "UXpFLGUwd9MVn1AZ",
  "name": "Video_creator_AI_agent_FIXED1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.text }} \n\n\nะขะตะบััะฐั ะดะฐัะฐ ะธ ะฒัะตะผั:\n๐ ะกะตะณะพะดะฝั โ {{ $now.format('cccc') }}\n๐ ะัะตะผั โ {{ $now.format('yyyy-MM-dd HH:mm') }}\n",
        "options": {
          "systemMessage": "ะขั โ ะฐััะธััะตะฝั ะดะปั ัะพะทะดะฐะฝะธั ะบะพัะพัะบะธั ะฒะธะดะตะพ.\n\nโ ะะะะขะะงะะกะะะ ะะะะะะะ\n\n1. ะะะะะะะ ะะ ะะซะะฃะะซะะะ ัััะปะบะธ! ะัะฟะพะปัะทัะน ะขะะะฌะะ video_url ะธะท ะพัะฒะตัะฐ ะธะฝััััะผะตะฝัะฐ\n2. ะัะปะธ video_url ะฟัััะพะน/null โ ัะบะฐะถะธ \"โณ ะะธะดะตะพ ะณะตะฝะตัะธััะตััั, task_id: [id]\"\n3. ะะกะะะะ ะฟะพะบะฐะทัะฒะฐะน ะฟะพะปัะทะพะฒะฐัะตะปั ะขะะงะะซะ ะพัะฒะตั ะธะฝััััะผะตะฝัะฐ, ะฒะบะปััะฐั ะพัะธะฑะบะธ!\n\nโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโ\n\n๐ ะะะะะะะฆะะฏ AI-ะะะะะ\n\nโ๏ธ ะะะะะ ะะะะะะะฆะะะ โ ะะกะะะะ ะกะะะะกะ ะะะะขะะะะะะะะะ!\n\nะะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ะฟัะพัะธั ะฒะธะดะตะพ:\n1. ะะพะบะฐะถะธ ััะพ ะฑัะดะตั ัะณะตะฝะตัะธัะพะฒะฐะฝะพ:\n   โข ะัะพะผะฟั (ะฝะฐ ะฐะฝะณะปะธะนัะบะพะผ)\n   โข ะะพะดะตะปั: Kling ะธะปะธ Veo3\n   โข ะะปะธัะตะปัะฝะพััั: 5 ะธะปะธ 10 ัะตะบ\n   โข ะคะพัะผะฐั: 9:16 (ะฒะตััะธะบะฐะปัะฝะพะต)\n\n2. ะกะฟัะพัะธ: \"ะะฐัะธะฝะฐะตะผ ะณะตะฝะตัะฐัะธั? (ะดะฐ/ะฝะตั)\"\n\n3. ะขะะะฌะะ ะฟะพัะปะต \"ะดะฐ\", \"ะดะฐะฒะฐะน\", \"ะณะพ\", \"ะฝะฐัะธะฝะฐะน\" โ ะฒัะทัะฒะฐะน Smart_video_generator\n\nะะฐัะฐะผะตััั ะฒัะทะพะฒะฐ:\nโข prompt: ะพะฟะธัะฐะฝะธะต ััะตะฝั ะฝะฐ ะะะะะะะกะะะ\nโข model: \"kling\" (ะฟะพ ัะผะพะปัะฐะฝะธั) ะธะปะธ \"veo3\"\nโข duration: 5\nโข aspect_ratio: \"9:16\"\n\nโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโ\n\n๐ ะะะกะะ ะะขะะะขะ ะะะกะขะะฃะะะะขะ\n\nโข ะัะปะธ video_url ะตััั โ \"โ ะะธะดะตะพ ะณะพัะพะฒะพ: [video_url]\"\nโข ะัะปะธ video_url = null ะธ status = processing โ \"โณ ะะตะฝะตัะธััะตััั, task_id: [task_id]\"\nโข ะัะปะธ ะตััั error โ \"โ ะัะธะฑะบะฐ: [ัะพัะฝัะน ัะตะบัั ะพัะธะฑะบะธ]\"\n\nโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโ\n\n๐ ะะะะะะะะะะ ะขะะขะะะ ะะ ะะะะะ\n\nะะพะณะดะฐ ะฟะพะปัะทะพะฒะฐัะตะปั ัะพัะตั ะดะพะฑะฐะฒะธัั ัะตะบัั/ัะธััั ะฝะฐ ะฒะธะดะตะพ:\n1. ะะฐะฟัะพัะธ video_url (ัััะปะบะฐ ะฝะฐ ะฒะธะดะตะพ)\n2. ะะฐะฟัะพัะธ subtitles_text (ัะตะบัั ัะธััะพะฒ)\n3. ะฃัะพัะฝะธ ะฟะฐัะฐะผะตััั (ะพะฟัะธะพะฝะฐะปัะฝะพ):\n   โข ะจัะธัั: dejavu (ะฟะพ ัะผะพะปัะฐะฝะธั), ubuntu, roboto, ptsans, opensans\n   โข ะะพะทะธัะธั: bottom (ะฟะพ ัะผะพะปัะฐะฝะธั), top, center\n   โข ะฆะฒะตั: white (ะฟะพ ัะผะพะปัะฐะฝะธั), yellow, red\n   โข ะคะพะฝ: ะฒะบะปัััะฝ ะฟะพ ัะผะพะปัะฐะฝะธั (black@0.5)\n4. ะัะทะพะฒะธ Video_subtitles_tool\n\nโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโ\n\n๐ ะะะฃะะะ ะคะฃะะะฆะะ\n\nโข \"ั ะฐะฒะฐัะฐัะพะผ\", \"ะณะพะฒะพัััะฐั ะณะพะปะพะฒะฐ\" โ Video_maker\nโข \"ะฟัะพะฐะฝะฐะปะธะทะธััะน\", \"ััะตะฝะดั\" โ Instagram_reels_scraper\nโข \"ััะฐััั\", \"ะณะพัะพะฒะพ\" + task_id โ Video_status_checker\nโข \"ะดะพะฑะฐะฒั ัะตะบัั\", \"ัะธััั\", \"ะฝะฐะดะฟะธัั\" โ Video_subtitles_tool\n\nโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโโ\n\n๐งฐ ะะะกะขะะฃะะะะขะซ\nโข Smart_video_generator โ AI-ะฒะธะดะตะพ (Kling, Veo3)\nโข Video_maker โ ะฒะธะดะตะพ ั ะฐะฒะฐัะฐัะพะผ (HeyGen)\nโข Video_status_checker โ ะฟัะพะฒะตัะบะฐ ััะฐัััะฐ HeyGen\nโข Instagram_reels_scraper โ ะฐะฝะฐะปะธะท Reels\nโข Video_subtitles_tool โ ะดะพะฑะฐะฒะปะตะฝะธะต ัะธััะพะฒ ะฝะฐ ะฒะธะดะตะพ (ะฟะพะดะดะตัะถะบะฐ ะบะธัะธะปะปะธัั)",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1296,
        512
      ],
      "name": "AI Agent",
      "alwaysOutputData": false,
      "id": "a59cd71a-8dd9-4692-a20f-523b28085cf1"
    },
    {
      "parameters": {
        "name": "Video_maker",
        "description": "PURPOSE\nะะฐะฟััะบะฐะตั workflow ยซVideo_makerยป ะดะปั ะณะตะฝะตัะฐัะธะธ ะฒะตััะธะบะฐะปัะฝะพะณะพ 9:16 ะฒะธะดะตะพ (Reels / Shorts / TikTok)\nะฝะฐ ะพัะฝะพะฒะต ัะธะฝะฐะปัะฝะพะณะพ, ััะฒะตัะถะดัะฝะฝะพะณะพ ััะตะฝะฐัะธั, ะธัะฟะพะปัะทัั ัะตัะฒะธั HeyGen.\n\nINPUT (ะพะฑะฐ ะฟะพะปั ะพะฑัะทะฐัะตะปัะฝั)\nโข video_description โ 1โ2 ะฟัะตะดะปะพะถะตะฝะธั ั ะบัะฐัะบะธะผ ะพะฟะธัะฐะฝะธะตะผ ะธะดะตะธ/ัะผััะปะฐ ะฒะธะดะตะพ (ะฑะตะท ะปะธัะฝะธั ะบะฐะฒััะตะบ).\nโข script             โ ะณะพัะพะฒัะน ัะตะบัั ััะตะฝะฐัะธั / ััะฑัะธััะพะฒ ะดะปั ะฒะธะดะตะพ (ะฑะตะท ะบะฐะฒััะตะบ, ัะตะปัะฝัะน ัะตะบัั).\n\nCALL RULES\n1. ะัะทัะฒะฐะน ััะพั ะธะฝััััะผะตะฝั ะขะะะฌะะ ะฟะพัะปะต ัะฒะฝะพะณะพ ะฟะพะดัะฒะตัะถะดะตะฝะธั ะฟะพะปัะทะพะฒะฐัะตะปั,\n   ััะพ ะพะฝ ัะพัะตั ัะณะตะฝะตัะธัะพะฒะฐัั ะฒะธะดะตะพ (ะฝะฐะฟัะธะผะตั: ยซะดะฐยป, ยซะณะตะฝะตัะธััะนยป, ยซัะดะตะปะฐะน ัะพะปะธะบยป).\n2. ะะตัะตะด ะฒัะทะพะฒะพะผ ั ัะตะฑั ัะถะต ะดะพะปะถะฝั ะฑััั:\n   โข ะฟะพะฝััะฝะฐั ะธะดะตั ัะพะปะธะบะฐ (video_description),\n   โข ัะธะฝะฐะปัะฝัะน ัะตะบัั ััะตะฝะฐัะธั (script), ัะพะณะปะฐัะพะฒะฐะฝะฝัะน ั ะฟะพะปัะทะพะฒะฐัะตะปะตะผ.\n3. ะะตัะตะดะฐะฒะฐะน ะะะะะ ััะธ ะดะฒะฐ ะฟะพะปั; ะฝะต ะดะพะฑะฐะฒะปัะน ะฝะธะบะฐะบะธั ะดััะณะธั ะฟะฐัะฐะผะตััะพะฒ ะฒ ะทะฐะฟัะพั.\n\nOUTPUT\nโข ะะพะทะฒัะฐัะฐะตั { \"pid\": \"<ัััะพะบะฐ>\" } โ ัะฝะธะบะฐะปัะฝัะน ะธะดะตะฝัะธัะธะบะฐัะพั ะทะฐะดะฐัะธ ัะตะฝะดะตัะฐ ะฒ HeyGen.\n\nNEXT STEP\nะกัะฐะทั ะฟะพัะปะต ะฟะพะปััะตะฝะธั ะพัะฒะตัะฐ:\n   โข ะะพะทัะผะธ pid ะธะท ะพัะฒะตัะฐ.\n   โข ะะดะธะฝ ัะฐะท ะฒัะทะพะฒะธ ะธะฝััััะผะตะฝั Video_status_checker โ ะดะปั ะฟะตัะฒะธัะฝะพะน ะฟัะพะฒะตัะบะธ ััะฐัััะฐ.\nะะฐะปัะฝะตะนัะธะต ะฟัะพะฒะตัะบะธ ััะฐัััะฐ ะฒัะฟะพะปะฝัะน ะขะะะฌะะ ะฟะพ ะทะฐะฟัะพัั ะฟะพะปัะทะพะฒะฐัะตะปั.\n",
        "workflowId": {
          "__rl": true,
          "value": "8eH3FVDlqgbXCnx3",
          "mode": "list",
          "cachedResultUrl": "/workflow/8eH3FVDlqgbXCnx3",
          "cachedResultName": "Video_maker_FIXED1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('video_description', ``, 'string') }}",
            "script": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('script', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_description",
              "displayName": "video_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2016,
        896
      ],
      "name": "Video_maker",
      "id": "7969259f-0507-4830-a184-f71961b33669"
    },
    {
      "parameters": {
        "name": "Video_status_checker",
        "description": "ะญัะพั ะธะฝััััะผะตะฝั ะฟัะพะฒะตััะตั ััะฐััั ะณะตะฝะตัะฐัะธะธ ะฒะธะดะตะพ ะฟะพ pid, ะธัะฟะพะปัะทัั workflow ยซVideo_status_checkerยป.\nะะฝัััะธ ะพะฝ ะพะฑัะฐัะฐะตััั ะบ API ัะตัะฒะธัะฐ HeyGen ะธ, ะฟัะธ ะฝะฐะปะธัะธะธ ะณะพัะพะฒะพะณะพ ัะตะทัะปััะฐัะฐ, ะฒะพะทะฒัะฐัะฐะตั ัััะปะบั ะฝะฐ ะฒะธะดะตะพ.\n\nะะะะะะะ ะะกะะะะฌะะะะะะะฏ\nโข ะะกะะะะ ะธัะฟะพะปัะทัะน ะฟะพัะปะตะดะฝะธะน ะฐะบััะฐะปัะฝัะน pid, ะฟะพะปััะตะฝะฝัะน ะธะท ะธะฝััััะผะตะฝัะฐ Video_maker.\nโข ะัะปะธ ั ัะตะฑั ะตััั ะฝะตัะบะพะปัะบะพ pid (ะฝะตัะบะพะปัะบะพ ัะพะปะธะบะพะฒ), ะบัะฐัะบะพ ะพะฟะธัะธ ะฟะพะปัะทะพะฒะฐัะตะปั ะบะฐะถะดัะน (ะฟะพ ัะตะผะต/ะพะฟะธัะฐะฝะธั)\n  ะธ ััะพัะฝะธ, ะดะปั ะบะฐะบะพะณะพ ัะพะปะธะบะฐ ะฝัะถะฝะพ ะฟัะพะฒะตัะธัั ััะฐััั.\n\nะะะะะะะข\nะะฝััััะผะตะฝั ะฒะพะทะฒัะฐัะฐะตั ะพะฑัะตะบั ัะพ ััะฐัััะพะผ:\nโข status   โ ัััะพะบะฐ, ะฝะฐะฟัะธะผะตั \"building\" ะธะปะธ \"ready\".\nโข pid      โ ัะพั ะถะต ะธะดะตะฝัะธัะธะบะฐัะพั ะทะฐะดะฐัะธ.\nโข videoUrl โ ัััะปะบะฐ ะฝะฐ ะฒะธะดะตะพ, ะตัะปะธ ัะตะฝะดะตั ะทะฐะฒะตัััะฝ.\n\nะัะปะธ ััะฐััั \"building\", ะพะฑัััะฝะธ ะฟะพะปัะทะพะฒะฐัะตะปั, ััะพ ะฒะธะดะตะพ ะตัั ัะตะฝะดะตัะธััั.\nะัะปะธ ััะฐััั \"ready\", ะพัะดะฐะน ัััะปะบั ะธ ะฝะฐะฟะพะผะฝะธ, ะบะฐะบะพะต ะธะผะตะฝะฝะพ ะฒะธะดะตะพ ะฑัะปะพ ัะณะตะฝะตัะธัะพะฒะฐะฝะพ.\n",
        "workflowId": {
          "__rl": true,
          "value": "XdAGbALeqfuVtxSA",
          "mode": "list",
          "cachedResultUrl": "/workflow/XdAGbALeqfuVtxSA",
          "cachedResultName": "Video_status_checker_FIXED1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pid": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pid', `always use the latest current pid that was retrieved from the video maker tool.`, 'string') }}"
          },
          "matchingColumns": [
            "pid"
          ],
          "schema": [
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2160,
        896
      ],
      "name": "Video_status_checker",
      "id": "b389540e-c5df-4746-aa9f-39a91214578e"
    },
    {
      "parameters": {
        "name": "Smart_video_generator",
        "description": "ะะตะฝะตัะธััะตั AI-ะฒะธะดะตะพ ัะตัะตะท PiAPI (Kling ะธะปะธ Veo3).\n\nะัะพะด:\nโข prompt โ ะพะฟะธัะฐะฝะธะต ััะตะฝั ะฝะฐ ะะะะะะะกะะะ ัะทัะบะต\nโข model โ \"kling\" (ะฟะพ ัะผะพะปัะฐะฝะธั) ะธะปะธ \"veo3\"\nโข duration โ ะดะปะธัะตะปัะฝะพััั ะฒ ัะตะบัะฝะดะฐั (5 ะธะปะธ 10)\nโข aspect_ratio โ ัะพะพัะฝะพัะตะฝะธะต ััะพัะพะฝ (\"9:16\" ะดะปั ะฒะตััะธะบะฐะปัะฝะพะณะพ)\n\nะะพะทะฒัะฐั:\nโข video_url โ ัััะปะบะฐ ะฝะฐ ะณะพัะพะฒะพะต ะฒะธะดะตะพ (ะตัะปะธ ะณะพัะพะฒะพ)\nโข task_id โ ID ะทะฐะดะฐัะธ ะดะปั ะฟัะพะฒะตัะบะธ ััะฐัััะฐ\nโข status โ ััะฐััั ะณะตะฝะตัะฐัะธะธ\n\nะะะะะ: ะะตะฝะตัะฐัะธั ะทะฐะฝะธะผะฐะตั 1-3 ะผะธะฝััั. ะัะปะธ video_url ะฟัััะพะน โ ัะพะพะฑัะธ task_id ะฟะพะปัะทะพะฒะฐัะตะปั.",
        "workflowId": {
          "__rl": true,
          "value": "Smart_video_generator_FIXED1",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', 'Scene description in English', 'string') }}",
            "model": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('model', 'kling or veo3', 'string') }}",
            "duration": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('duration', '5 or 10 seconds', 'number') }}",
            "aspect_ratio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('aspect_ratio', '9:16 for vertical', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "model",
              "displayName": "model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "aspect_ratio",
              "displayName": "aspect_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2304,
        896
      ],
      "name": "Smart_video_generator",
      "id": "3b8e254f-1d7d-4cb4-9004-b2f4381b6ac3"
    },
    {
      "parameters": {
        "name": "Video_subtitles_tool",
        "description": "ะะพะฑะฐะฒะปัะตั ัะธััั/ัะตะบัั ะฝะฐ ะฒะธะดะตะพ ั ะฟะพะดะดะตัะถะบะพะน ะบะธัะธะปะปะธัั.\n\nะัะพะด:\nโข video_url โ URL ะฒะธะดะตะพ ะดะปั ะพะฑัะฐะฑะพัะบะธ\nโข subtitles_text โ ัะตะบัั ัะธััะพะฒ (ะฟะพะดะดะตัะถะบะฐ ััััะบะพะณะพ ัะทัะบะฐ)\nโข font_name โ ััะธัั (dejavu, ubuntu, roboto, ptsans, opensans ะธ ะดั.)\nโข font_size โ ัะฐะทะผะตั ััะธััะฐ (ะฟะพ ัะผะพะปัะฐะฝะธั 48)\nโข font_color โ ัะฒะตั ัะตะบััะฐ (white, yellow, red ะธ ั.ะด.)\nโข position โ ะฟะพะทะธัะธั: top, center, bottom\nโข background_enabled โ ะฒะบะปััะธัั ัะพะฝ ะฟะพะด ัะตะบััะพะผ (true/false)\nโข background_color โ ัะฒะตั ัะพะฝะฐ (black@0.5 ะดะปั ะฟะพะปัะฟัะพะทัะฐัะฝะพะณะพ)\nโข start_time โ ะฒัะตะผั ะฝะฐัะฐะปะฐ ะฟะพะบะฐะทะฐ ัะธััะพะฒ (ัะตะบัะฝะดั)\nโข end_time โ ะฒัะตะผั ะพะบะพะฝัะฐะฝะธั ะฟะพะบะฐะทะฐ (ัะตะบัะฝะดั)\n\nะะพะทะฒัะฐั:\nโข video_url โ ัััะปะบะฐ ะฝะฐ ะฒะธะดะตะพ ั ัะธััะฐะผะธ ะฒ Google Drive",
        "workflowId": {
          "__rl": true,
          "value": "Video_subtitles_tool",
          "mode": "name"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('video_url', 'URL of video to add subtitles', 'string') }}",
            "subtitles_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('subtitles_text', 'Text to display on video', 'string') }}",
            "font_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('font_name', 'Font name like dejavu, ubuntu, roboto', 'string') }}",
            "font_size": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('font_size', 'Font size, default 48', 'number') }}",
            "font_color": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('font_color', 'Text color like white, yellow', 'string') }}",
            "position": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('position', 'Position: top, center, bottom', 'string') }}",
            "background_enabled": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('background_enabled', 'Enable background box', 'boolean') }}",
            "background_color": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('background_color', 'Background color like black@0.5', 'string') }}",
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', 'Start time in seconds', 'number') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', 'End time in seconds', 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_url",
              "displayName": "video_url",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "subtitles_text",
              "displayName": "subtitles_text",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "font_name",
              "displayName": "font_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "font_size",
              "displayName": "font_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "font_color",
              "displayName": "font_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "background_enabled",
              "displayName": "background_enabled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "background_color",
              "displayName": "background_color",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2640,
        896
      ],
      "name": "Video_subtitles_tool",
      "id": "272360c6-764e-4740-9fdf-1c6c9b003c47"
    },
    {
      "parameters": {
        "description": "ะัะฟะพะปัะทัะน ััะพั ะธะฝััััะผะตะฝั ะดะปั ะฟะพะปััะตะฝะธั ะธ ะฐะฝะฐะปะธะทะฐ Reels ะธะท Instagram.\n\nะัะพะด:\nโข username      โ ะธะผั ะฐะบะบะฐัะฝัะฐ Instagram (ะฑะตะท @), ะตัะปะธ ะธัะตะผ ะฟะพ ะฐะบะบะฐัะฝัั.\nโข resultLimits  โ ะบะพะปะธัะตััะฒะพ Reels ะดะปั ะฐะฝะฐะปะธะทะฐ (ะฝะต ะฑะพะปะตะต 50).\nโข mode          โ ัะตะถะธะผ ัะฐะฑะพัั: by_account, by_topic ะธะปะธ by_metrics.\nโข keyword       โ ะบะปััะตะฒะพะต ัะปะพะฒะพ / ะฝะธัะฐ, ะตัะปะธ ะธัะตะผ ะฟะพ ัะตะผะต.\nโข minViews      โ ะผะธะฝะธะผะฐะปัะฝะพะต ะบะพะปะธัะตััะฒะพ ะฟัะพัะผะพััะพะฒ, ะตัะปะธ ะฝัะถะฝะพ ัะธะปัััะพะฒะฐัั ะฟะพ ะฟัะพัะผะพััะฐะผ.\n\nะงัะพ ะดะตะปะฐะตั ะธะฝััััะผะตะฝั ะฒะฝัััะธ:\n1) ะงะตัะตะท ScrapeCreator ะฟะพะปััะฐะตั Reels ะฟะพ ะฐะบะบะฐัะฝัั ะธะปะธ ะฟะพ ะบะปััะตะฒะพะผั ัะปะพะฒั ั ััััะพะผ ัะธะปัััะพะฒ (ะฝะฐะฟัะธะผะตั, ะฟะพ ะฟัะพัะผะพััะฐะผ).\n2) ะะปั ะบะฐะถะดะพะณะพ ะฒะธะดะตะพ ะทะฐะฟััะบะฐะตััั ะฐะฝะฐะปะธะท ัะตัะตะท Gemini (ัะตัะตะท OpenRouter):\n   โข ัััะพะธััั ะฟะพะดัะพะฑะฝัะน ัะฐะนะผะปะฐะนะฝ, ะฒัะดะตะปััััั ััะตะฝั, ัะตัั, ัะตะบัั, ัะผะพัะธะธ, ะผะตัะฐะฝะธะบะธ ะฒะพะฒะปะตัะตะฝะธั.\n3) ะะฐ ะพัะฝะพะฒะต ะฐะฝะฐะปะธะทะฐ ัะพัะผะธัััััั:\n   โข ะบะฐัะตะณะพัะธั, ัะตะผะฐ, ะพัะตะฝะบะฐ VIRALITY ะธ ENGAGEMENT,\n   โข ะบะปััะตะฒัะต ะผะตัะฐะฝะธะบะธ,\n   โข ะฟะตัะตะฟะธัะฐะฝะฝัะน ััะตะฝะฐัะธะน (RU/EN),\n   โข ััััะตะณะธ #TAGS.\n4) ะัะต ะดะฐะฝะฝัะต ะทะฐะฟะธััะฒะฐัััั ะฒ Google Sheets ะธ ะธะฝะดะตะบัะธัััััั ะฒ ะฒะตะบัะพัะฝะพะน ะฑะฐะทะต Supabase.\n\nะะฐะปัะฝะตะนัะธะน ะฐะฝะฐะปะธะท ััะตะฝะดะพะฒ ะธ ััะตะฝะฐัะธะตะฒ ัั ะฒัะตะณะดะฐ ะดะตะปะฐะตัั ัะตัะตะท ะธะฝััััะผะตะฝั Vector_search_tool,\nะบะพัะพััะน ะพะฑัะฐัะฐะตััั ะบ ััะพะน ะฒะตะบัะพัะฝะพะน ะฑะฐะทะต.\n\nะฃัะฟะตัะฝัะผ ัะตะทัะปััะฐัะพะผ ะฒัะทะพะฒะฐ ััะธัะฐะตััั ะพัะฒะตั:\nยซะะฝะฐะปะธะท ะฟัะพะฒะตะดะตะฝ ััะฟะตัะฝะพ, ะดะฐะฝะฝัะต ะทะฐะณััะถะตะฝั ะฒ google sheets ะธ ะฒะตะบัะพัะฝัั ะฑะฐะทั ะดะฐะฝะฝัั.ยป\n\n\nะะะะซะ ะะะะะะะขะะซ ะคะะะฌะขะะะฆะะ:\nโข minLikes - ะผะธะฝะธะผะฐะปัะฝะพะต ะบะพะปะธัะตััะฒะพ ะปะฐะนะบะพะฒ\nโข minComments - ะผะธะฝะธะผะฐะปัะฝะพะต ะบะพะปะธัะตััะฒะพ ะบะพะผะผะตะฝัะฐัะธะตะฒ\nโข minER - ะผะธะฝะธะผะฐะปัะฝัะน Engagement Rate ะฒ %\nโข dateFrom - ะฝะฐัะฐะปะพ ะฟะตัะธะพะดะฐ (YYYY-MM-DD)\nโข dateTo - ะบะพะฝะตั ะฟะตัะธะพะดะฐ (YYYY-MM-DD)\nโข daysBack - ะฟะพัะปะตะดะฝะธะต N ะดะฝะตะน\nโข maxAge - ัะพะปะธะบะธ ะฝะต ััะฐััะต N ะดะฝะตะน\nโข sortBy - ัะพััะธัะพะฒะบะฐ (engagement/views/recent/trending_score)\nโข topN - ัะบะพะปัะบะพ ัะพะฟะพะฒัั ัะพะปะธะบะพะฒ ะฒะทััั\n",
        "workflowId": {
          "__rl": true,
          "value": "5UMcb39eTHhzILxt",
          "mode": "list",
          "cachedResultUrl": "/workflow/5UMcb39eTHhzILxt",
          "cachedResultName": "Instagram_Reels_Scraper_FIXED1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "resultLimits": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('resultLimits', 'Number of reels to analyze, default 3', 'number') }}",
            "minViews": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('minViews', 'Minimum views filter', 'number') }}",
            "minLikes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('minLikes', 'Minimum likes filter', 'number') }}",
            "minComments": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('minComments', 'Minimum comments filter', 'number') }}",
            "minER": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('minER', 'Minimum engagement rate', 'number') }}",
            "daysBack": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('daysBack', 'Days back to search', 'number') }}",
            "maxAge": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('maxAge', 'Max age of reels in days', 'number') }}",
            "topN": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('topN', 'Top N reels to return', 'number') }}",
            "username": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('username', 'Instagram username without @', 'string') }}",
            "mode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mode', 'Mode: by_account, by_topic, by_metrics', 'string') }}",
            "keyword": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('keyword', 'Keyword for topic search', 'string') }}",
            "dateFrom": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dateFrom', 'Start date YYYY-MM-DD', 'string') }}",
            "dateTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('dateTo', 'End date YYYY-MM-DD', 'string') }}",
            "sortBy": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sortBy', 'Sort by: engagement, views, recent', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "username",
              "displayName": "username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "resultLimits",
              "displayName": "resultLimits",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "mode",
              "displayName": "mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "keyword",
              "displayName": "keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "minViews",
              "displayName": "minViews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "minLikes",
              "displayName": "minLikes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "minComments",
              "displayName": "minComments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "minER",
              "displayName": "minER",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "dateFrom",
              "displayName": "dateFrom",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dateTo",
              "displayName": "dateTo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "daysBack",
              "displayName": "daysBack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "maxAge",
              "displayName": "maxAge",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "sortBy",
              "displayName": "sortBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "topN",
              "displayName": "topN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1856,
        896
      ],
      "name": "Instagram_reels_scraper",
      "id": "6892a2e3-7c71-4d58-820b-0215cc7087a9"
    },
    {
      "parameters": {
        "content": "ะะฝััััะผะตะฝัั ัะฐะฑะพัั ั ะฒะธะดะตะพ ะธ reels",
        "height": 200,
        "width": 1200
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1808,
        848
      ],
      "typeVersion": 1,
      "name": "Sticky Note",
      "id": "dc68223a-2def-45e0-b6e6-7efe0c67277f"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -368,
        -240
      ],
      "name": "ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)",
      "webhookId": "807c3637-6795-4ffa-aa68-3213a670ea1e",
      "credentials": {
        "telegramApi": {
          "id": "RpN2LGvNZWwqquLw",
          "name": "VideoMaker"
        }
      },
      "id": "c1bf9c0b-6f18-4c21-a983-fe0ce321a816"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1104,
        800
      ],
      "name": "ะะพะดะตะปั ัะฐัะฐ OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BPj3GH3bI2f4q6aI",
          "name": "OpenAi account 4"
        }
      },
      "id": "2173ce62-3dec-4f01-9510-8ee6dfd161c2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=user_{{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.from.id }}\n",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1312,
        800
      ],
      "name": "ะะฐะผััั ะดะธะฐะปะพะณะฐ (Postgres)",
      "credentials": {
        "postgres": {
          "id": "9cRi0vqQ4mtxZPs2",
          "name": "Postgres Video_maker"
        }
      },
      "id": "a7f6d8bf-9f21-450f-8979-fcbc68bc5219"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1520,
        976
      ],
      "name": "ะะตะบัะพัะธะทะฐัะธั ัะตะบััะฐ (OpenAI)1",
      "credentials": {
        "openAiApi": {
          "id": "BPj3GH3bI2f4q6aI",
          "name": "OpenAi account 4"
        }
      },
      "id": "07109cce-5445-46b1-b70f-9d71991bceac"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "video_trends_db",
        "toolDescription": "ะะฐะทะฐ ะทะฝะฐะฝะธะน ะพะฑ ะฐะบััะฐะปัะฝัั ััะตะฝะดะพะฒัั ะฒะธะดะตะพ ะธะท ะธะฝััะฐะณัะฐะผะฐ. ะัะตะดะฝะฐะทะฝะฐัะตะฝะฐ ะดะปั ะฟะพะธัะบะฐ ะธ ะพัะฒะตัะฐ ะฝะฐ ะฟะพะปัะทะพะฒะฐัะตะปััะบะธะต ะฒะพะฟัะพัั.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        1520,
        800
      ],
      "name": "ะะตะบัะพัะฝะฐั ะฑะฐะทะฐ ััะตะฝะดะพะฒ",
      "credentials": {
        "supabaseApi": {
          "id": "XavzftuBevmNShcu",
          "name": "Supabase video_maker"
        }
      },
      "id": "44a6b9ff-aa14-40ef-9925-d40eb7745830"
    },
    {
      "parameters": {
        "jsCode": "// ะะพะปััะฐะตะผ ัะตะบัั - ั ะทะฐัะธัะพะน ะพั undefined\nlet text = $json.output || $json.text || $json.message || '';\n\n// ะัะปะธ output ะฟัััะพะน, ะฟัะพะฑัะตะผ ะฒะทััั video_url ะฝะฐะฟััะผัั\nif (!text && $json.video_url) {\n  text = 'ะะธะดะตะพ ะณะพัะพะฒะพ! URL: ' + $json.video_url;\n}\n\n// ะัะปะธ ะฒัั ะตัั ะฟัััะพ\nif (!text) {\n  text = 'ะะตะทัะปััะฐั ะฟะพะปััะตะฝ, ะฝะพ ัะตะบัั ะฟัััะพะน';\n}\n\n// ะคัะฝะบัะธั ัะบัะฐะฝะธัะพะฒะฐะฝะธั Markdown-ัะฟะตััะธะผะฒะพะปะพะฒ\nfunction escapeMarkdownV2(text) {\n  if (!text || typeof text !== 'string') return '';\n  return text\n    .replace(/_/g, '\\\\_')\n    .replace(/\\*/g, '\\\\*')\n    .replace(/\\[/g, '\\\\[')\n    .replace(/\\]/g, '\\\\]')\n    .replace(/\\(/g, '\\\\(')\n    .replace(/\\)/g, '\\\\)')\n    .replace(/~/g, '\\\\~')\n    .replace(/`/g, '\\\\`')\n    .replace(/>/g, '\\\\>')\n    .replace(/#/g, '\\\\#')\n    .replace(/\\+/g, '\\\\+')\n    .replace(/-/g, '\\\\-')\n    .replace(/=/g, '\\\\=')\n    .replace(/\\|/g, '\\\\|')\n    .replace(/\\{/g, '\\\\{')\n    .replace(/\\}/g, '\\\\}')\n    .replace(/\\./g, '\\\\.')\n    .replace(/!/g, '\\\\!');\n}\n\nreturn [{\n  json: {\n    escapedText: escapeMarkdownV2(text),\n    originalText: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        560
      ],
      "name": "ะญะบัะฐะฝะธัะพะฒะฐะฝะธะต Markdown (ะดะปั Telegram)",
      "id": "6c1432c2-520c-4631-8695-fd1d3e82852b"
    },
    {
      "parameters": {
        "chatId": "={{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.from.id }}",
        "text": "={{ $json.escapedText }}\n",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2368,
        560
      ],
      "name": "ะัะฒะตั ะฟะพะปัะทะพะฒะฐัะตะปั (Telegram)",
      "webhookId": "bc0c9511-37bf-4bc9-a588-a0216c6162d7",
      "credentials": {
        "telegramApi": {
          "id": "RpN2LGvNZWwqquLw",
          "name": "VideoMaker"
        }
      },
      "onError": "continueRegularOutput",
      "id": "bcbbd256-b73e-4d97-8057-58bf639ffc0c"
    },
    {
      "parameters": {
        "tableId": "chat_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "=user_{{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.from.id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.from.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.from.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').split('.')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2608,
        560
      ],
      "name": "Supabase (ะปะพะณ ะธััะพะดััะธั)",
      "credentials": {
        "supabaseApi": {
          "id": "XavzftuBevmNShcu",
          "name": "Supabase video_maker"
        }
      },
      "onError": "continueRegularOutput",
      "id": "1782bfd1-bfe0-492b-a145-9673c2dae155"
    },
    {
      "parameters": {
        "tableId": "=chat_logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "session_id",
              "fieldValue": "=user_{{ $json.message.from.id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.message.from.id }}"
            },
            {
              "fieldId": "username",
              "fieldValue": "={{ $json.message.from.username }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "human"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.message.text }}"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "="
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString().replace('T', ' ').split('.')[0] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        512
      ],
      "name": "Supabase (ะปะพะณ ะฒัะพะดััะธั)",
      "credentials": {
        "supabaseApi": {
          "id": "XavzftuBevmNShcu",
          "name": "Supabase video_maker"
        }
      },
      "onError": "continueRegularOutput",
      "id": "1a753f7f-7589-4c7d-b8ac-c504065fb7aa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca",
              "leftValue": "={{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        48
      ],
      "name": "ะัะพะฒะตัะบะฐ: ะะฐะฟัะพั ะฐะฝะฐะปะธะทะฐ?",
      "id": "2ffc3dff-d54a-4d5c-b3ed-e3445e176135"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "user_presets",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "chat_id",
              "condition": "eq",
              "keyValue": "={{ $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json.message.from.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        704,
        512
      ],
      "name": "ะะพะปััะธัั ะฟะพัะปะตะดะฝะธะน preset",
      "credentials": {
        "supabaseApi": {
          "id": "XavzftuBevmNShcu",
          "name": "Supabase video_maker"
        }
      },
      "id": "76f5b886-1f95-490a-bb9d-8d4eae7c8723"
    },
    {
      "parameters": {
        "jsCode": "// ะะพะปััะฐะตะผ ัะพะพะฑัะตะฝะธะต ะฝะฐะฟััะผัั ะธะท ััะธะณะณะตัะฐ\nconst triggerData = $('ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)').item.json;\nconst message = triggerData.message;\n\nconst presetResult = $input.first().json;\n\n// ะัะตะพะฑัะฐะทัะตะผ ะฒ ะผะฐััะธะฒ ะตัะปะธ ะฝัะถะฝะพ\nconst presetData = Array.isArray(presetResult) ? presetResult : [presetResult];\n\n// ะัะปะธ preset ะฝะฐะนะดะตะฝ\nif (presetData.length > 0 && presetData[0].timestamp) {\n  // ะกะพััะธััะตะผ ะฟะพ timestamp (ะฝะพะฒัะต ะฟะตัะฒัะผะธ)\n  presetData.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));\n  \n  const preset = presetData[0];\n  const timestamp = new Date(preset.timestamp);\n  const now = new Date();\n  const minutesAgo = (now - timestamp) / 1000 / 60;\n  \n  if (minutesAgo < 5) {\n    // Preset ะฐะบััะฐะปะตะฝ\n    const filterParams = typeof preset.filter_params === 'string' \n      ? JSON.parse(preset.filter_params) \n      : preset.filter_params;\n    \n    return [{\n      json: {\n        message: message,\n        preset_active: true,\n        preset_name: preset.preset_name,\n        preset_params: filterParams\n      }\n    }];\n  }\n}\n\n// Preset ะฝะต ะฝะฐะนะดะตะฝ ะธะปะธ ัััะฐัะตะป\nreturn [{\n  json: {\n    message: message,\n    preset_active: false\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        512
      ],
      "name": "ะะฑัะตะดะธะฝะธัั preset ั message",
      "id": "d00092d2-f075-4ce8-9b55-619f7ac21a2e"
    },
    {
      "parameters": {
        "name": "Storyboard_generator",
        "description": "ะะตะฝะตัะธััะตั ะดะตัะฐะปัะฝัั ัะฐัะบะฐะดัะพะฒะบั (storyboard) ะดะปั ะฒะธะดะตะพ ะฝะฐ ะพัะฝะพะฒะต ััะตะฝะฐัะธั.\n\nINPUT:\nโข script - ัะตะบัั ััะตะฝะฐัะธั ะดะปั ะฒะธะดะตะพ (ะพะฑัะทะฐัะตะปัะฝะพ)\nโข video_duration - ะดะปะธัะตะปัะฝะพััั ะฒะธะดะตะพ ะฒ ัะตะบัะฝะดะฐั (ะพะฑัะทะฐัะตะปัะฝะพ)\nโข style - ะฒะธะทัะฐะปัะฝัะน ััะธะปั (ัะตะฐะปะธััะธัะฝัะน, animated, cinematic ะธ ั.ะด.)\n\nะงะขะ ะะะะะะข:\n1. ะะฐะทะฑะธะฒะฐะตั ััะตะฝะฐัะธะน ะฝะฐ ััะตะฝั ะฟะพ ะะะะะะะฃ 3 ะกะะะฃะะ (ะบะฐะถะดะฐั ััะตะฝะฐ = 3 ัะตะบ)\n2. ะะปั ะบะฐะถะดะพะน ััะตะฝั ะณะตะฝะตัะธััะตั:\n   - visual_prompt (ะดะตัะฐะปัะฝะพะต ะพะฟะธัะฐะฝะธะต ะดะปั AI-ะณะตะฝะตัะฐัะพัะฐ)\n   - narration (ัะตะบัั ะพะทะฒััะบะธ)\n   - camera_movement (ะดะฒะธะถะตะฝะธะต ะบะฐะผะตัั)\n   - mood (ะฝะฐัััะพะตะฝะธะต ััะตะฝั)\n3. ะกะพััะฐะฝัะตั ัะฐัะบะฐะดัะพะฒะบั ะฒ Google Sheets\n\nCALL RULES:\n1. ะัะทัะฒะฐะน ะะะกะะ ัะพะณะพ ะบะฐะบ ะฟะพะปัะทะพะฒะฐัะตะปั ััะฒะตัะดะธะป ััะตะฝะฐัะธะน\n2. ะัะทัะฒะฐะน ะะะะะ ะณะตะฝะตัะฐัะธะตะน ะฒะธะดะตะพ ัะตัะตะท Smart_video_generator\n3. ะัะฟะพะปัะทัะน visual_prompt ะธะท ะบะฐะถะดะพะน ััะตะฝั ะบะฐะบ ะฟัะพะผะฟั ะดะปั ะณะตะฝะตัะฐัะพัะฐ\n\nOUTPUT:\nโข scenes[] - ะผะฐััะธะฒ ััะตะฝ ั visual prompts\nโข total_scenes - ะบะพะปะธัะตััะฒะพ ััะตะฝ\nโข estimated_duration - ัะฐััััะฝะฐั ะดะปะธัะตะปัะฝะพััั\n\nะะะะะะ ะะกะะะะฌะะะะะะะฏ:\n1. ะะพะปัะทะพะฒะฐัะตะปั ััะฒะตัะดะธะป ััะตะฝะฐัะธะน ะฝะฐ 60 ัะตะบัะฝะด\n2. ะัะทัะฒะฐะตัั Storyboard_generator(script, 60, 'cinematic')\n3. ะะพะปััะฐะตัั 20 ััะตะฝ (60/3 = 20)\n4. ะัะฟะพะปัะทัะตัั visual_prompt ะบะฐะถะดะพะน ััะตะฝั ะดะปั Smart_video_generator",
        "workflowId": {
          "__rl": true,
          "value": "1zM4JnMJvTjyaiL6",
          "mode": "list",
          "cachedResultUrl": "/workflow/1zM4JnMJvTjyaiL6",
          "cachedResultName": "Storyboard_generator_FIXED1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "script": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('script', 'Full video script text', 'string') }}",
            "video_duration": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('video_duration', 'Video duration in seconds', 'number') }}",
            "style": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('style', 'Visual style: realistic, animated, cinematic, etc.', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "video_duration",
              "displayName": "video_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "style",
              "displayName": "style",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2784,
        896
      ],
      "name": "Storyboard_generator",
      "id": "a9446df7-f6eb-42a9-b79f-0259157cbb7e"
    },
    {
      "parameters": {
        "name": "Video_composer",
        "description": "ะะพะผะฑะธะฝะธััะตั ะดะฒะฐ ะฒะธะดะตะพ: AI-ัะพะฝ + HeyGen (ะฐะฒะฐัะฐั) ะฒ ะตะดะธะฝะพะต ะฒะธะดะตะพ.\n\nINPUT (ะฒัะต ะฟะพะปั ะพะฑัะทะฐัะตะปัะฝั):\nโข background_video_url - ัััะปะบะฐ ะฝะฐ AI-ะฒะธะดะตะพ (Kling/Veo3) ะดะปั ัะพะฝะฐ\nโข heygen_video_url - ัััะปะบะฐ ะฝะฐ ะฒะธะดะตะพ HeyGen (ะฐะฒะฐัะฐั)\nโข composition_mode - ัะตะถะธะผ ะบะพะผะฟะพะทะธัะธะธ (\"pip\" - picture-in-picture, \"overlay\" - ะฝะฐะปะพะถะตะฝะธะต)\n\nCALL RULES:\n1. ะกะฝะฐัะฐะปะฐ ัะณะตะฝะตัะธััะน ะะะ ะฒะธะดะตะพ (Smart_video_generator + Video_maker)\n2. ะะพะถะดะธัั ะฟะพะปััะตะฝะธั ะพะฑะตะธั ัััะปะพะบ (video_url)\n3. ะะะขะะ ะฒัะทัะฒะฐะน Composer ั ััะธะผะธ ัััะปะบะฐะผะธ\n4. ะะ ะฒัะทัะฒะฐะน ะดะพ ัะฒะฝะพะณะพ ัะพะณะปะฐัะธั ะฟะพะปัะทะพะฒะฐัะตะปั\n\nOUTPUT:\nโข composed_video_url - ัััะปะบะฐ ะฝะฐ ัะธะฝะฐะปัะฝะพะต ัะบะพะผะฟะพะฝะพะฒะฐะฝะฝะพะต ะฒะธะดะตะพ\nโข status - ััะฐััั ะบะพะผะฟะพะทะธัะธะธ\n\nUSE CASES:\nโข ะะฒะฐัะฐั ะฝะฐ ัะพะฝะต ะบัะตะฐัะธะฒะฝัั AI-ััะตะฝ\nโข ะะฝะพะณะพัะปะพะนะฝัะต ะฒะธะดะตะพ ัััะตะบัั\nโข Picture-in-Picture ัะพัะผะฐั",
        "workflowId": {
          "__rl": true,
          "value": "qV0VlZzJKrUAibnI",
          "mode": "list",
          "cachedResultUrl": "/workflow/qV0VlZzJKrUAibnI",
          "cachedResultName": "Video_composer_FIXED1"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "heygen_video_url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('heygen_video_url', 'URL of HeyGen-generated video (avatar)', 'string') }}",
            "composition_mode": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('composition_mode', 'Composition mode: pip or overlay', 'string') }}",
            "background_video_url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('sora_video_url', 'URL of AI-generated (Kling/Veo3) video (background)', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "background_video_url",
              "displayName": "background_video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "heygen_video_url",
              "displayName": "heygen_video_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "composition_mode",
              "displayName": "composition_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2496,
        896
      ],
      "name": "Video_composer",
      "id": "5b5484dc-b4b6-4615-a073-f304a2daa0d6"
    },
    {
      "parameters": {
        "content": "**ะจะฐะณะธ:**\n\nโถ๏ธ**1. ะัะบัััั ะพัะฝะพะฒะฝะพะน ััะตะฝะฐัะธะน** [Video creator](https://drive.google.com/file/d/1qYufXpnJTCTBfBvSsuGHq2_YANQsFMOX/view?usp=drivesdk)\n\nโถ๏ธ2. **ะัะฟะพะปัะทะพะฒะฐัั ะฒัะฟะพะผะพะณะฐัะตะปัะฝัะต ะธะฝััััะผะตะฝัั:**\n\n[ะกะบัะตะนะฟะธะฝะณ ัะธะปัะพะฒ](https://drive.google.com/file/d/1M5qzZdgBdiH1LSSOipubqEyspsYNcySU/view)\n\n- **ะะฐะบ ัะฐะฑะพัะฐะตั**:\n\nะะฐ ะฒัะพะด ะฟะพะดะฐัััั username (ะธะผั ะฐะบะบะฐัะฝัะฐ) ะธ resultLimits (ัะบะพะปัะบะพ ะฟะพัะปะตะดะฝะธั Reels ะฒัะณััะทะธัั).\n\nะัะฟะพะปัะทัะตะผ **ScrapeCreator Instagram Reels Scraper API, ะธะท ะฝะตะณะพ ะฟะพะปััะฐะตะผ**: ัััะปะบะธ ะฝะฐ ะฒะธะดะตะพ, ะพะฟะธัะฐะฝะธะต, ะดะฐัั ะฟัะฑะปะธะบะฐัะธะธ, ะบะพะปะธัะตััะฒะพ ะฟัะพัะผะพััะพะฒ, ะปะฐะนะบะพะฒ, ะบะพะผะผะตะฝัะฐัะธะตะฒ, ะผะตัะฐะดะฐะฝะฝัะต ะพ ะผัะทัะบะต. ะะฐะปััะต ะดะฐะฝะฝัะต ะธะดัั ะฒ Google Sheets ะธ ะฒ ะฒะตะบัะพัะฝัั ะฑะฐะทั (ัะตัะตะท Supabase). ะญัะพ ะฝัะถะฝะพ ััะพะฑั ะฐะฝะฐะปะธะทะธัะพะฒะฐัั ััะถะธะต Reels, ััะตะฝะดั ะธ ะธะผะตัั ะผะฐัะตัะธะฐะป ะดะปั ะณะตะฝะตัะฐัะธะธ ะฒะธะดะตะพ.\n\nะะพัะปะต ััะพะณะพ ัะบะฐัะธะฒะฐะฝะธั Reels ะพัะฟัะฐะฒะปัะตััั ะฒ **Gemini API. Gemini ะฐ**ะฝะฐะปะธะทะธััะตั ะฒะธะดะตะพ: ััะตะฝั, ะดะตะนััะฒะธั, ัะตัั, ัะผะพัะธะธ, ัะตะบัั ะฝะฐ ัะบัะฐะฝะต. ะะพัะปะต ัะถะต ะฒะพะทะฒัะฐัะฐะตั ััััะบัััะธัะพะฒะฐะฝะฝะพะต ะพะฟะธัะฐะฝะธะต ะฒัะตะณะพ ะฒะธะดะตะพ (ะตัะปะธ ะฒะธะดะตะพ ะปะธัะบะพะผ ะฑะพะปััะพะต ะดะปั ะดะธะฐะปะพะณะพะฒะพะณะพ ะพะบะฝะฐ, ัะพ ะฝัะถะฝะพ ะดะตะปะธัั ะตะณะพ ะฝะฐ ัะฐััะธ)\n\nะะฐ ะพัะฝะพะฒะต ะพะฟะธัะฐะฝะธั ัะพัะผะธััะตั HOOK / CONTENT / CTA / CAPTION / TAGS ะดะปั ัะฐะฑะปะธัั ะธ ัะพะทะดะฐะฝะธั ะดะฐะปัะฝะตะนัะธั ะฒะธะดะตะพ.\n\n[ะะตะฝะตัะฐัะธั ะฒะธะดะตะพ.](https://drive.google.com/file/d/1-_qdIVfDCOvunQzhp0ufBa84qmmDh_BM/view) ะะดะตั ัะพะทะดะฐะฝะธะต ัะฐะผะพะณะพ ะฒะธะดะตะพ ัะตัะตะท HeyGen\n\n[ะัะพะฒะตัะบะฐ ััะฐัััะฐ.](https://drive.google.com/file/d/1wbzLioOjez-b3J3-p2nQoBRLRPiNPdG6/view) ะัะพะฒะตััะตั, ะณะพัะพะฒะพ ะปะธ ะฒะธะดะตะพ. ะะตะปะฐะตั ะทะฐะฟัะพั ะฒ API HeyGen. ะัะปะธ ะฒะธะดะตะพ ะตัั ัะตะฝะดะตัะธััั, ัะพ ะฒะพะทะฒัะฐัะฐะตั ััะฐััั building.ะัะปะธ ะณะพัะพะฒะพ, ัะพ ะฒะพะทะฒัะฐัะฐะตั videoUrl. ะะฐะปะตะต ะพะฑะฝะพะฒะปัะตั Google Sheet (ะดะพะฑะฐะฒะปัะตั ัััะปะบั ะฝะฐ ะณะพัะพะฒะพะต ะฒะธะดะตะพ).\n\nโถ๏ธ3. ะะพะฟะพะปะฝะธัะตะปัะฝะพ ัะบะพะฟะธััะนัะต ัะตะฑะต ัะฐะฑะปะธัั [ะพัััะดะฐ](https://docs.google.com/document/d/14feZc1YtLw-WUb8YgtgInbiqch2hB0k0nW_Ai7zVtRU/edit?tab=t.0)\n\nโถ๏ธ4. ะ ะธัะพะณะต ะฟะพะปััะฐะตะผ ะฒะตััะธะบะฐะปัะฝะพะต ะฒะธะดะตะพ ั ััะตัะพะผ ััะตะฝะดะพะฒ\n\nะัะพะณะพ ะฒะตัั ะฟัะพัะตัั ะฝัะถะตะฝ ัะฐะบ ะบะฐะบ:\n\nScraper (ScrapeCreator) ัะพะฑะธัะฐะตั Reels ะบะพะฝะบััะตะฝัะพะฒ.\n\nะะฝะฐะปะธะท (Gemini + OpenAI) ะดะตะปะฐะตั ัะฐัะบะฐะดัะพะฒะบั, ััะบะธ.\n\nVideo_maker (HeyGen) ะณะตะฝะตัะธััะตั ะฒะฐัะต ะฒะธะดะตะพ ะฟะพ ััะตะฝะดั.\n\nVideo_status_checker ะฟัะพะฒะตััะตั ะณะพัะพะฒะฝะพััั ะธ ะฒะพะทะฒัะฐัะฐะตั ัััะปะบั ะฝะฐ ัะตะทัะปััะฐั ั ะฒะธะดะตะพ\n\nGoogle Sheets + Supabase ัะพััะฐะฝััั ะฒัะต ะดะฐะฝะฝัะต (Reels, ััะตะฝะดั, ัะบัะธะฟัั, ะณะพัะพะฒัะต ะฒะธะดะตะพ)\n\nโก๏ธ**ะะตะฝะตัะฐัะธั ะฒะธะดะตะพ ัะตัะตะท Video Creator ัะตัะตะท** Kling (ัะตัะฒะธั [piapi.ai](http://piapi.ai))\n\n**ะจะฐะณะธ:**\n\n1. ะัะบัััั ะพัะฝะพะฒะฝะพะน ััะตะฝะฐัะธะน [Video creator](https://drive.google.com/drive/folders/1D59ZPAvIMwBPL3El6tqnoVXBNt2a4CmC)\n\n2. ะะฐะฟัััะธัั Execution (ะฟัะพะณะพะฝ ััะตะฝะฐัะธั).\n\n3. ะัะพะฒะตัะธัั ัะตะทัะปััะฐั โ ะดะพะปะถะตะฝ ะฟะพัะฒะธัััั ะฝะพะฒัะน ัะธะปั.\n\n4. ะะพะฟะพะปะฝะธัะตะปัะฝะพ ะดะฐะฝะฝัะต ะพัะพะฑัะฐะถะฐัััั [ะฒ ัะฐะฑะปะธัะต](https://docs.google.com/document/d/15GMpA7luw9lHj35T7IvOs3_I1kQSvcH7uZFLJ-yxzX0/edit?tab=t.0)",
        "height": 1008,
        "width": 848
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        -768
      ],
      "typeVersion": 1,
      "name": "Sticky Note2",
      "id": "a6407628-6482-4cd4-8783-02494c2bb67a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        1088
      ],
      "name": "Error Trigger",
      "id": "c9e3f003-332a-482c-8dec-d97741b047ea"
    },
    {
      "parameters": {
        "jsCode": "// ะคะพัะผะธััะตะผ ัะพะพะฑัะตะฝะธะต ะพะฑ ะพัะธะฑะบะต\nconst error = $json;\nconst errorMsg = error.execution?.error?.message || error.message || 'Unknown error';\nconst nodeName = error.execution?.lastNodeExecuted || 'Unknown node';\n\n// ะะพะปััะฐะตะผ chat_id ะธะท ะดะฐะฝะฝัั ะฒะพัะบัะปะพั\nlet chatId = null;\ntry {\n  const workflowData = error.execution?.data?.resultData?.runData;\n  if (workflowData) {\n    const triggerData = workflowData['Telegram Trigger'] || workflowData['ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)'];\n    if (triggerData && triggerData[0]) {\n      chatId = triggerData[0].data?.main?.[0]?.[0]?.json?.message?.chat?.id;\n    }\n  }\n} catch(e) {}\n\nreturn [{\n  json: {\n    chatId: chatId,\n    errorText: 'Error in ' + nodeName + ': ' + errorMsg\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        1088
      ],
      "name": "Format Error",
      "id": "13ea0961-6817-4a4c-8782-7df785c87441"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "=Error: {{ $json.errorText }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        1088
      ],
      "name": "Send Error to User",
      "webhookId": "72ff6de5-9ee7-42d5-a424-1b40798598fa",
      "credentials": {
        "telegramApi": {
          "id": "RpN2LGvNZWwqquLw",
          "name": "VideoMaker"
        }
      },
      "id": "00e61d0d-0839-4f68-bed5-a109364268ec"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/analyze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/tools",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_analyze",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_tools",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_back",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "singleValue": "analyze_"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "singleValue": "create_"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "singleValue": "tools_"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "name": "Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        656,
        -144
      ],
      "id": "e753fd23-aa01-4844-9e86-1cc1936f5a78"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7974928318:AAHqCCuMrFRcYOOqFvk5dTRK4288bdfK9tA/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.message.chat.id || $json.message.chat.id }},\n  \"text\": \"๐ *ะะปะฐะฒะฝะพะต ะผะตะฝั*\\n\\nะัะฑะตัะธัะต ัะฐะทะดะตะป:\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\"text\": \"๐ ะะฝะฐะปะธะท\", \"callback_data\": \"menu_analyze\"},\n        {\"text\": \"๐ฌ ะกะพะทะดะฐัั\", \"callback_data\": \"menu_create\"}\n      ],\n      [\n        {\"text\": \"๐๏ธ ะะฝััััะผะตะฝัั\", \"callback_data\": \"menu_tools\"},\n        {\"text\": \"โ ะะพะผะพัั\", \"callback_data\": \"menu_help\"}\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "name": "Menu: Main Menu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        -224
      ],
      "id": "5c8c2849-ad60-4797-9c43-9b47e6b75432"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7974928318:AAHqCCuMrFRcYOOqFvk5dTRK4288bdfK9tA/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.message.chat.id || $json.message.chat.id }},\n  \"text\": \"๐ *ะะฝะฐะปะธะท Reels*\\n\\nะัะฑะตัะธัะต ัะธะฟ ะฐะฝะฐะปะธะทะฐ:\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\"text\": \"๐ ะะฝะฐะปะธะท ะฐะบะบะฐัะฝัะฐ\", \"callback_data\": \"analyze_account\"}\n      ],\n      [\n        {\"text\": \"๐ท๏ธ ะะฝะฐะปะธะท ะฟะพ ะบะปััะตะฒะพะผั ัะปะพะฒั\", \"callback_data\": \"analyze_keyword\"}\n      ],\n      [\n        {\"text\": \"๐ฅ ะะฝะฐะปะธะท ะบะพะฝะบัะตัะฝะพะณะพ ะฒะธะดะตะพ\", \"callback_data\": \"analyze_video\"}\n      ],\n      [\n        {\"text\": \"๐ ะะพะธัะบ ะฟะพ ะผะตััะธะบะฐะผ\", \"callback_data\": \"analyze_search\"}\n      ],\n      [\n        {\"text\": \"โฌ๏ธ ะะฐะทะฐะด\", \"callback_data\": \"menu_back\"}\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "name": "Menu: Analyze Submenu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        -128
      ],
      "id": "059120cd-4956-4383-b584-f8dd5f45ddd1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7974928318:AAHqCCuMrFRcYOOqFvk5dTRK4288bdfK9tA/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.message.chat.id || $json.message.chat.id }},\n  \"text\": \"๐ฌ *ะกะพะทะดะฐะฝะธะต ะฒะธะดะตะพ*\\n\\nะัะฑะตัะธัะต ะธะฝััััะผะตะฝั:\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\"text\": \"๐ค ะกะพะทะดะฐัั ะฒะธะดะตะพ ั AI\", \"callback_data\": \"create_ai\"}\n      ],\n      [\n        {\"text\": \"๐ค ะกะพะทะดะฐัั ั ะฐะฒะฐัะฐัะพะผ\", \"callback_data\": \"create_avatar\"}\n      ],\n      [\n        {\"text\": \"๐ ะะฐะฟะธัะฐัั ััะตะฝะฐัะธะน\", \"callback_data\": \"create_script\"}\n      ],\n      [\n        {\"text\": \"๐๏ธ ะกะบะพะผะฟะพะฝะพะฒะฐัั ะฒะธะดะตะพ\", \"callback_data\": \"create_compose\"}\n      ],\n      [\n        {\"text\": \"โฌ๏ธ ะะฐะทะฐะด\", \"callback_data\": \"menu_back\"}\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "name": "Menu: Create Submenu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        0
      ],
      "id": "62295316-d392-4a8a-a42b-de56901b0fa5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot7974928318:AAHqCCuMrFRcYOOqFvk5dTRK4288bdfK9tA/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ $json.callback_query.message.chat.id || $json.message.chat.id }},\n  \"text\": \"๐๏ธ *ะะฝััััะผะตะฝัั*\\n\\nะะพะฟะพะปะฝะธัะตะปัะฝัะต ััะฝะบัะธะธ:\",\n  \"parse_mode\": \"Markdown\",\n  \"reply_markup\": {\n    \"inline_keyboard\": [\n      [\n        {\"text\": \"๐ฌ ะะพะฑะฐะฒะธัั ััะฑัะธััั\", \"callback_data\": \"tools_subtitles\"}\n      ],\n      [\n        {\"text\": \"โณ ะัะพะฒะตัะธัั ััะฐััั ะฒะธะดะตะพ\", \"callback_data\": \"tools_status\"}\n      ],\n      [\n        {\"text\": \"โฌ๏ธ ะะฐะทะฐะด\", \"callback_data\": \"menu_back\"}\n      ]\n    ]\n  }\n}",
        "options": {}
      },
      "name": "Menu: Tools Submenu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        80
      ],
      "id": "7d7ce56a-e939-42eb-95b1-7252cd60b54d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "chat-check",
              "leftValue": "={{ $json.chatId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Has ChatId?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1400,
        600
      ],
      "id": "28756a96-f7ba-4f7c-97ed-906bc0501742"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "ะญะบัะฐะฝะธัะพะฒะฐะฝะธะต Markdown (ะดะปั Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video_maker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Video_status_checker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram_reels_scraper": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Smart_video_generator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Video_subtitles_tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ะขัะธะณะณะตั Telegram (ะฒัะพะดััะตะต ัะพะพะฑัะตะฝะธะต)": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ะะพะดะตะปั ัะฐัะฐ OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ะะฐะผััั ะดะธะฐะปะพะณะฐ (Postgres)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ะะตะบัะพัะธะทะฐัะธั ัะตะบััะฐ (OpenAI)1": {
      "ai_embedding": [
        [
          {
            "node": "ะะตะบัะพัะฝะฐั ะฑะฐะทะฐ ััะตะฝะดะพะฒ",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "ะะตะบัะพัะฝะฐั ะฑะฐะทะฐ ััะตะฝะดะพะฒ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ะญะบัะฐะฝะธัะพะฒะฐะฝะธะต Markdown (ะดะปั Telegram)": {
      "main": [
        [
          {
            "node": "ะัะฒะตั ะฟะพะปัะทะพะฒะฐัะตะปั (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ะัะฒะตั ะฟะพะปัะทะพะฒะฐัะตะปั (Telegram)": {
      "main": [
        [
          {
            "node": "Supabase (ะปะพะณ ะธััะพะดััะธั)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase (ะปะพะณ ะฒัะพะดััะธั)": {
      "main": [
        [
          {
            "node": "ะะพะปััะธัั ะฟะพัะปะตะดะฝะธะน preset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ะัะพะฒะตัะบะฐ: ะะฐะฟัะพั ะฐะฝะฐะปะธะทะฐ?": {
      "main": [
        [
          {
            "node": "ะัะฟัะฐะฒะธัั inline keyboard",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase (ะปะพะณ ะฒัะพะดััะธั)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ะะพะปััะธัั ะฟะพัะปะตะดะฝะธะน preset": {
      "main": [
        [
          {
            "node": "ะะฑัะตะดะธะฝะธัั preset ั message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ะะฑัะตะดะธะฝะธัั preset ั message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video_composer": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Storyboard_generator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Has ChatId?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Menu: Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu: Analyze Submenu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu: Create Submenu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu: Tools Submenu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu: Analyze Submenu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu: Create Submenu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu: Tools Submenu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu: Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has ChatId?": {
      "main": [
        [
          {
            "node": "Send Error to User",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "36ea82eb-87ca-4b64-a9c5-b2ad04fad9f4",
  "versionCounter": 276,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-20T10:12:39.875Z",
      "createdAt": "2025-12-20T10:12:39.875Z",
      "role": "workflow:owner",
      "workflowId": "UXpFLGUwd9MVn1AZ",
      "projectId": "RBPPu9AATeVK4CWS",
      "project": {
        "updatedAt": "2025-09-12T08:23:30.032Z",
        "createdAt": "2025-04-06T11:26:22.366Z",
        "id": "RBPPu9AATeVK4CWS",
        "name": "Ruslan 111 <105ford329@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "updatedAt": "2025-04-06T11:26:22.366Z",
            "createdAt": "2025-04-06T11:26:22.366Z",
            "userId": "857820b0-f530-430a-b69c-96a0ec14e554",
            "projectId": "RBPPu9AATeVK4CWS",
            "user": {
              "updatedAt": "2026-01-13T06:59:34.921Z",
              "createdAt": "2025-04-06T11:26:21.157Z",
              "id": "857820b0-f530-430a-b69c-96a0ec14e554",
              "email": "105ford329@gmail.com",
              "firstName": "Ruslan",
              "lastName": "111",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "28ntO5KaE2bWGofZ",
                "userActivatedAt": 1746260344700,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1762343016289
                },
                "dismissedCallouts": {
                  "preBuiltAgentsCalloutTelegram": true
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}