workflows/workflow-6-threads-short-posts.json
{
  "name": "02 - Посты короткие",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1ZHqRFOud0BhJB1BMpfBlpiUH2vae9go5CTohWGAWSqo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "News Database",
          "mode": "list"
        },
        "options": {
          "outputFormatting": {
            "values": {
              "general": "UNFORMATTED_VALUE"
            }
          }
        }
      },
      "id": "get-rows-sheet2",
      "name": "Get row(s) in sheet2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [280, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter1",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Сортировка по score (от большего к меньшему)\nconst items = $input.all();\nitems.sort((a, b) => (b.json.score || 0) - (a.json.score || 0));\nreturn items;"
      },
      "id": "code5",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1ZHqRFOud0BhJB1BMpfBlpiUH2vae9go5CTohWGAWSqo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Published Posts",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-rows-sheet3",
      "name": "Get row(s) in sheet3",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [820, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем историю постов для контекста\nconst newsItems = $('Code5').all();\nconst publishedPosts = $input.all();\n\n// Берем последние 10 опубликованных постов для анализа\nconst recentPosts = publishedPosts.slice(-10).map(p => p.json.content).join('\\n---\\n');\n\n// Берем первую новость для обработки\nconst newsItem = newsItems[0]?.json || {};\n\nreturn [{\n  json: {\n    news: newsItem,\n    recentPosts: recentPosts,\n    newsTitle: newsItem.title || '',\n    newsSummary: newsItem.summary || '',\n    newsUrl: newsItem.url || '',\n    newsId: newsItem.id || ''\n  }\n}];"
      },
      "id": "code",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/YOUR_USERNAME/ai-content-prompts/main/short-post-prompt.txt",
        "options": {}
      },
      "id": "get-a-file",
      "name": "Get a file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 500]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-from-file",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [280, 500]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1ZHqRFOud0BhJB1BMpfBlpiUH2vae9go5CTohWGAWSqo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Analytics Insights",
          "mode": "list"
        },
        "options": {}
      },
      "id": "get-rows-sheet4",
      "name": "Get row(s) in sheet4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "limit3",
      "name": "Limit3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [640, 500]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [820, 500]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты — эксперт по созданию вирусных постов для социальных сетей о технологиях и ИИ.\n\nНОВОСТЬ ДЛЯ ОБРАБОТКИ:\nЗаголовок: {{ $('Code').item.json.newsTitle }}\nСодержание: {{ $('Code').item.json.newsSummary }}\nИсточник: {{ $('Code').item.json.newsUrl }}\n\nПОСЛЕДНИЕ ОПУБЛИКОВАННЫЕ ПОСТЫ (для контекста стиля):\n{{ $('Code').item.json.recentPosts }}\n\nАНАЛИТИКА И ИНСАЙТЫ:\n{{ $('Aggregate').item.json.data }}\n\nЗАДАЧА:\nСоздай короткий пост (150-280 символов) для Threads на основе этой новости.\n\nТРЕБОВАНИЯ:\n1. Пост должен быть провокационным и вызывать желание обсудить\n2. Используй эмодзи умеренно (1-2 максимум)\n3. Задай вопрос или сделай неожиданный вывод\n4. Не используй хэштеги\n5. Пиши на русском языке\n\nВерни ТОЛЬКО текст поста, без пояснений.",
        "hasOutputParser": false,
        "options": {}
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.8
        }
      },
      "id": "anthropic-chat-model2",
      "name": "Anthropic Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [900, 700],
      "credentials": {
        "anthropicApi": {
          "id": "1",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "short-posts-memory"
      },
      "id": "simple-memory",
      "name": "Anthropic Chat - Simple Memory Model2",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1100, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.threads.net/v1.0/24902864969393604/threads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"media_type\": \"TEXT\",\n  \"text\": \"{{ $json.output.replace(/\"/g, '\\\\\"').replace(/\\n/g, '\\\\n') }}\"\n}",
        "options": {}
      },
      "id": "http-request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threads API"
        }
      }
    },
    {
      "parameters": {
        "time": 30,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [280, 800]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.threads.net/v1.0/24902864969393604/threads_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $('HTTP Request').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "http-request1",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 800],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Threads API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ZHqRFOud0BhJB1BMpfBlpiUH2vae9go5CTohWGAWSqo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "News Database",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "published",
            "published_at": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "google-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [640, 800],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ZHqRFOud0BhJB1BMpfBlpiUH2vae9go5CTohWGAWSqo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Published Posts",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "append-row-sheet",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [820, 800],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=✅ Новый пост опубликован в Threads!\n\n{{ $('AI Agent').item.json.output }}\n\n🔗 https://threads.net/@neuro_producer",
        "additionalFields": {}
      },
      "id": "telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1000, 800],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet2": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet3": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet4": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat - Simple Memory Model2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
