workflows/workflow-3-video-montage-instagram.json
{
  "name": "Получение и монтаж видео для Instagram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 600]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Production_Queue"
        }
      },
      "id": "sheets-read",
      "name": "Sheets - Очередь",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [460, 600],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-ready",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready_for_production",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-format",
              "leftValue": "={{ $json.format }}",
              "rightValue": "voiceover_broll",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-ready",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [680, 600]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "limit-5",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [900, 600]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_VIDEO_FOLDER_ID_1"
        },
        "options": {}
      },
      "id": "gdrive-video-1",
      "name": "Базовый",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        }
      },
      "id": "sort-video-1",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "gdrive-download-1",
      "name": "Базовый1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webContentLink || $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file-1",
      "name": "Download file",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_VIDEO_FOLDER_ID_2"
        },
        "options": {}
      },
      "id": "gdrive-video-2",
      "name": "Базовый2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        }
      },
      "id": "sort-video-2",
      "name": "Sort1",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 400]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "gdrive-download-2",
      "name": "Базовый3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 400],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webContentLink || $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file-2",
      "name": "Download file1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_VIDEO_FOLDER_ID_3"
        },
        "options": {}
      },
      "id": "gdrive-video-3",
      "name": "Базовый4",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 600],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        }
      },
      "id": "sort-video-3",
      "name": "Sort8",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 600]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "gdrive-download-3",
      "name": "Базовый5",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 600],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webContentLink || $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file-3",
      "name": "Download file2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 600]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_VIDEO_FOLDER_ID_4"
        },
        "options": {}
      },
      "id": "gdrive-video-4",
      "name": "Базовый6",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 800],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        }
      },
      "id": "sort-video-4",
      "name": "Sort12",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 800]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "gdrive-download-4",
      "name": "Базовый7",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 800],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webContentLink || $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-file-4",
      "name": "Download file3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 800]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_AUDIO_FOLDER_ID"
        },
        "options": {}
      },
      "id": "gdrive-audio",
      "name": "Ajax",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 1000],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        }
      },
      "id": "sort-audio",
      "name": "Sort2",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 1000]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "gdrive-download-audio",
      "name": "Ajax2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 1000],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.webContentLink || $json.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-audio",
      "name": "Download file4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 1000]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_FONT_FILE_ID"
        },
        "options": {}
      },
      "id": "gdrive-font",
      "name": "Google Drive Font",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 1200],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        }
      },
      "id": "sort-font",
      "name": "Sort Font",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 1200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "font_url",
              "name": "font_url",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "font_name",
              "name": "font_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        }
      },
      "id": "edit-fields-font",
      "name": "Edit Fields Font",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1560, 1200]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge-videos",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2000, 500]
    },
    {
      "parameters": {
        "jsCode": "// Склейка видео - подготовка URL для Creatomate\nconst items = $input.all();\n\nconst videoUrls = [];\nlet audioUrl = '';\nlet fontUrl = '';\nlet originalData = {};\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Сохраняем оригинальные данные из очереди\n  if (data.id && data.full_script) {\n    originalData = {\n      id: data.id,\n      full_script: data.full_script,\n      hook: data.hook,\n      body: data.body,\n      cta: data.cta,\n      description: data.description,\n      hashtags: data.hashtags\n    };\n  }\n  \n  // Собираем URL видео\n  if (data.webContentLink && data.mimeType?.includes('video')) {\n    videoUrls.push(data.webContentLink);\n  }\n  \n  // Аудио\n  if (data.webContentLink && data.mimeType?.includes('audio')) {\n    audioUrl = data.webContentLink;\n  }\n  \n  // Шрифт\n  if (data.font_url) {\n    fontUrl = data.font_url;\n  }\n}\n\nreturn [{\n  json: {\n    ...originalData,\n    video_1: videoUrls[0] || '',\n    video_2: videoUrls[1] || '',\n    video_3: videoUrls[2] || '',\n    video_4: videoUrls[3] || '',\n    audio_url: audioUrl,\n    font_url: fontUrl,\n    total_videos: videoUrls.length\n  }\n}];"
      },
      "id": "concat-videos",
      "name": "Concat videos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2220, 500]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-all",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2440, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"YOUR_CREATOMATE_TEMPLATE_ID\",\n  \"modifications\": {\n    \"Video-1\": \"{{ $json.video_1 }}\",\n    \"Video-2\": \"{{ $json.video_2 }}\",\n    \"Video-3\": \"{{ $json.video_3 }}\",\n    \"Video-4\": \"{{ $json.video_4 }}\",\n    \"Hook-Text\": \"{{ $json.hook }}\",\n    \"Body-Text\": \"{{ $json.body }}\",\n    \"CTA-Text\": \"{{ $json.cta }}\",\n    \"Audio\": \"{{ $json.audio_url }}\"\n  }\n}"
      },
      "id": "creatomate-render",
      "name": "Video Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2660, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREATOMATE_CREDENTIALS_ID",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🎬 Новый рилс в обработке!\n\nID: {{ $('Concat videos').item.json.id }}\nХук: {{ $('Concat videos').item.json.hook }}\n\nСтатус: рендеринг...",
        "additionalFields": {}
      },
      "id": "telegram-notify",
      "name": "Telegram3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2880, 600],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 120,
        "unit": "seconds"
      },
      "id": "wait-render",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3100, 600]
    },
    {
      "parameters": {
        "url": "=https://api.creatomate.com/v1/renders/{{ $('Video Edit').item.json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "check-render",
      "name": "Check Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3320, 600],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREATOMATE_CREDENTIALS_ID",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-ready",
      "name": "IF Ready",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [3540, 600]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-retry",
      "name": "Wait Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3540, 800]
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "video": "={{ $json.url }}",
        "additionalFields": {
          "caption": "=✅ Рилс готов!\n\n{{ $('Concat videos').item.json.description }}\n\n{{ $('Concat videos').item.json.hashtags }}"
        }
      },
      "id": "send-instagram",
      "name": "Send to Instagram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3760, 500],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Production_Queue"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "id",
              "lookupValue": "={{ $('Concat videos').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "ready_to_publish",
            "final_video_url": "={{ $json.url }}",
            "rendered_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "sheets-update",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [3980, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## Получение видео\n\n4 параллельные ветки загрузки видео из Google Drive",
        "height": 100,
        "width": 200,
        "color": 4
      },
      "id": "sticky-video",
      "name": "Sticky Note Video",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 80]
    },
    {
      "parameters": {
        "content": "## Получение аудио и шрифтов\n\nЗагрузка аудио и шрифтов для монтажа",
        "height": 100,
        "width": 240,
        "color": 4
      },
      "id": "sticky-audio",
      "name": "Sticky Note Audio",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 920]
    },
    {
      "parameters": {
        "content": "## Получение шрифта + настройка\n\nЗагрузка шрифта и подготовка URL",
        "height": 100,
        "width": 240,
        "color": 5
      },
      "id": "sticky-font",
      "name": "Sticky Note Font",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 1120]
    },
    {
      "parameters": {
        "content": "## Склейка видео\n\nОбъединение всех видео в один массив",
        "height": 80,
        "width": 200,
        "color": 2
      },
      "id": "sticky-concat",
      "name": "Sticky Note Concat",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2000, 400]
    },
    {
      "parameters": {
        "content": "## Монтаж видео и загрузка в Instagram\n\nCreatomate рендерит → Telegram превью → Sheets обновление",
        "height": 100,
        "width": 320,
        "color": 3
      },
      "id": "sticky-montage",
      "name": "Sticky Note Montage",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2660, 400]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Sheets - Очередь",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets - Очередь": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Базовый",
            "type": "main",
            "index": 0
          },
          {
            "node": "Базовый2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Базовый4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Базовый6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ajax",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive Font",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Базовый1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый2": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Базовый3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый3": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Базовый4": {
      "main": [
        [
          {
            "node": "Sort8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort8": {
      "main": [
        [
          {
            "node": "Базовый5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый5": {
      "main": [
        [
          {
            "node": "Download file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file2": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Базовый6": {
      "main": [
        [
          {
            "node": "Sort12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort12": {
      "main": [
        [
          {
            "node": "Базовый7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый7": {
      "main": [
        [
          {
            "node": "Download file3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file3": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Ajax": {
      "main": [
        [
          {
            "node": "Sort2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort2": {
      "main": [
        [
          {
            "node": "Ajax2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajax2": {
      "main": [
        [
          {
            "node": "Download file4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file4": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Google Drive Font": {
      "main": [
        [
          {
            "node": "Sort Font",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort Font": {
      "main": [
        [
          {
            "node": "Edit Fields Font",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields Font": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Concat videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Concat videos": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Video Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Edit": {
      "main": [
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Check Render Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Render Status": {
      "main": [
        [
          {
            "node": "IF Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Ready": {
      "main": [
        [
          {
            "node": "Send to Instagram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Retry": {
      "main": [
        [
          {
            "node": "Check Render Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Instagram": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "content-factory"
    }
  ],
  "triggerCount": 1
}
