workflows/workflow-4-youtube-telegram.json
{
  "name": "YouTube → Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube Queue",
          "mode": "name"
        },
        "options": {}
      },
      "id": "get-rows",
      "name": "Get row(s) in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter1",
      "name": "Filter1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для параллельной обработки\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [];\n}\n\nconst item = items[0];\n\nreturn [{\n  json: {\n    video_id: item.json.video_id,\n    video_folder_id: item.json.video_folder_id,\n    audio_folder_id: item.json.audio_folder_id,\n    font_folder_id: item.json.font_folder_id,\n    title: item.json.title,\n    row_number: item.json.row_number || 2,\n    chat_id: item.json.chat_id || 'YOUR_TELEGRAM_CHAT_ID'\n  }\n}];"
      },
      "id": "code",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort-font",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1120, 120]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "font_url",
              "name": "font_url",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "font_name",
              "name": "font_name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields-font",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 120]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "={{ $('Code').item.json.video_folder_id }}",
          "mode": "id"
        },
        "options": {
          "fields": ["id", "name", "mimeType", "webContentLink"]
        }
      },
      "id": "drive-videos",
      "name": "Базовый",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort-videos",
      "name": "Sort1",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fields": ["id", "name", "mimeType", "webContentLink"]
        }
      },
      "id": "drive-video-sub",
      "name": "Базовый1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "download-video",
      "name": "Download file1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1780, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "={{ $('Code').item.json.audio_folder_id }}",
          "mode": "id"
        },
        "options": {
          "fields": ["id", "name", "mimeType", "webContentLink"]
        }
      },
      "id": "drive-audio",
      "name": "Ajax45",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1120, 480],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort-audio",
      "name": "Sort1",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [1340, 480]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fields": ["id", "name", "mimeType", "webContentLink"]
        }
      },
      "id": "drive-audio-sub",
      "name": "Ajax7",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1560, 480],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "download-audio",
      "name": "Download file1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1780, 480],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge1",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"YOUR_CREATOMATE_TEMPLATE_ID\",\n  \"modifications\": {\n    \"Video-1\": \"{{ $json.video_url }}\",\n    \"Audio-1\": \"{{ $json.audio_url }}\",\n    \"Text-1\": \"{{ $('Code').item.json.title }}\"\n  }\n}",
        "options": {}
      },
      "id": "video-edit",
      "name": "Video Edit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2220, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREATOMATE_CREDENTIALS_ID",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Code').item.json.chat_id }}",
        "text": "=Видео обрабатывается!\n\nНазвание: {{ $('Code').item.json.title }}\nRender ID: {{ $json[0].id }}",
        "additionalFields": {}
      },
      "id": "telegram",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2440, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "wait1",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Code').item.json.chat_id }}",
        "text": "=Видео готово!\n\n{{ $('Code').item.json.title }}\n\nСкачать: {{ $json.url }}",
        "additionalFields": {}
      },
      "id": "send-result",
      "name": "Send a text message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2880, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "YouTube Queue",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "render_url": "={{ $json.url }}",
            "completed_at": "={{ $now.toISO() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "update-sheets",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3100, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## YouTube\n\nПолучение очереди видео из Google Sheets и фильтрация pending записей.",
        "height": 140,
        "width": 260
      },
      "id": "sticky-youtube",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 140]
    },
    {
      "parameters": {
        "content": "## Получение шрифта + настройка\n\nSort → Edit Fields\n\nИзвлечение URL шрифта из Google Drive.",
        "height": 120,
        "width": 280
      },
      "id": "sticky-font",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, -20]
    },
    {
      "parameters": {
        "content": "## Получение видео\n\nБазовый → Sort1 → Базовый1 → Download file1\n\nСкачивание видео файлов из Google Drive.",
        "height": 120,
        "width": 320
      },
      "id": "sticky-video",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 160]
    },
    {
      "parameters": {
        "content": "## Получение аудио и шрифтов\n\nAjax45 → Sort1 → Ajax7 → Download file1\n\nСкачивание аудио файлов из Google Drive.",
        "height": 120,
        "width": 320
      },
      "id": "sticky-audio",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1120, 540]
    },
    {
      "parameters": {
        "content": "## Монтаж видео и загрузка в TG\n\nMerge1 → Video Edit → Telegram → Wait1 → Send a text message1 → Google Sheets\n\nОбъединение данных, рендеринг через Creatomate и отправка в Telegram.",
        "height": 140,
        "width": 400
      },
      "id": "sticky-render",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2000, 140]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          },
          {
            "node": "Базовый",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ajax45",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort1": {
      "main": [
        [
          {
            "node": "Базовый1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Базовый1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Ajax45": {
      "main": [
        [
          {
            "node": "Sort1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajax7": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Video Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Edit": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
