workflows/workflow-5-tiktok-carousels.json
{
  "name": "TikTok карусели",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger3",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Carousel Topics",
          "mode": "name"
        },
        "options": {}
      },
      "id": "google-sheets1",
      "name": "Google Sheets1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-pending",
              "leftValue": "={{ $json.status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter2",
      "name": "Filter2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort0",
      "name": "Sort0",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "id": "limit2",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $json.topic }}",
              "type": "string"
            },
            {
              "id": "row_number",
              "name": "row_number",
              "value": "={{ $json.row_number }}",
              "type": "number"
            },
            {
              "id": "category",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields1",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Подготовка данных для генерации карусели\nconst item = $input.first().json;\n\nreturn [{\n  json: {\n    topic: item.topic,\n    category: item.category,\n    row_number: item.row_number,\n    prompt: `Создай карусель из 5-7 слайдов на тему: ${item.topic}\\n\\nКатегория: ${item.category}\\n\\nФормат JSON с полями: title, slides (array with text, hook), cta, hashtags`\n  }\n}];"
      },
      "id": "code4",
      "name": "Code4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"anthropic/claude-sonnet-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты эксперт по созданию карусельных постов для TikTok. Отвечай только валидным JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "ajax-out",
      "name": "Ajax Out",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OPENROUTER_CREDENTIALS_ID",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.choices[0].message.content }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "isNotEmpty"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "switch1",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "YOUR_TEMPLATES_FOLDER_ID",
          "mode": "id"
        },
        "options": {
          "fields": ["id", "name", "mimeType", "webContentLink"]
        }
      },
      "id": "google-drive",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2220, 480],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка списка шаблонов\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    template_id: item.json.id,\n    template_name: item.json.name,\n    template_url: item.json.webContentLink\n  }\n}));"
      },
      "id": "code3",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 480]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "template_name",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort6",
      "name": "Sort6",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [2660, 480]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [2880, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"{{ $json.template_id }}\",\n  \"modifications\": {}\n}",
        "options": {}
      },
      "id": "http-request10",
      "name": "HTTP Request10",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 480],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREATOMATE_CREDENTIALS_ID",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "YOUR_BACKGROUNDS_FOLDER_ID",
          "mode": "id"
        },
        "options": {
          "fields": ["id", "name", "mimeType", "webContentLink"]
        }
      },
      "id": "google-drive1",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [2220, 660],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GOOGLE_DRIVE_CREDENTIALS_ID",
          "name": "Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Обработка списка фонов\nconst items = $input.all();\nreturn items.map(item => ({\n  json: {\n    bg_id: item.json.id,\n    bg_name: item.json.name,\n    bg_url: item.json.webContentLink\n  }\n}));"
      },
      "id": "code2",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 660]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "bg_name",
              "order": "ascending"
            }
          ]
        },
        "options": {}
      },
      "id": "sort5",
      "name": "Sort5",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [2660, 660]
    },
    {
      "parameters": {
        "maxItems": 1
      },
      "id": "limit1",
      "name": "Limit1",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [2880, 660]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"YOUR_BG_TEMPLATE_ID\",\n  \"modifications\": {\n    \"Background\": \"{{ $json.bg_url }}\"\n  }\n}",
        "options": {}
      },
      "id": "http-request12",
      "name": "HTTP Request12",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3100, 660],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREATOMATE_CREDENTIALS_ID",
          "name": "Creatomate API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": []
        },
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "merge1",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "carousel_data",
              "name": "carousel_data",
              "value": "={{ $json }}",
              "type": "string"
            },
            {
              "id": "topic",
              "name": "topic",
              "value": "={{ $('Edit Fields1').item.json.topic }}",
              "type": "string"
            },
            {
              "id": "row_number",
              "name": "row_number",
              "value": "={{ $('Edit Fields1').item.json.row_number }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "edit-fields",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Финальная обработка данных карусели\nconst item = $input.first().json;\n\n// Парсинг контента от LLM\nlet carouselContent;\ntry {\n  const llmResponse = $('Ajax Out').item.json.choices[0].message.content;\n  const jsonMatch = llmResponse.match(/\\{[\\s\\S]*\\}/);\n  carouselContent = jsonMatch ? JSON.parse(jsonMatch[0]) : { title: 'Карусель', slides: [] };\n} catch (e) {\n  carouselContent = { title: 'Карусель', slides: [], cta: 'Подпишись!', hashtags: [] };\n}\n\nreturn [{\n  json: {\n    title: carouselContent.title,\n    slides: carouselContent.slides,\n    cta: carouselContent.cta,\n    hashtags: carouselContent.hashtags,\n    topic: item.topic,\n    row_number: item.row_number\n  }\n}];"
      },
      "id": "code",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Карусель готова!\n\n{{ $json.title }}\nТема: {{ $json.topic }}\n\nСлайдов: {{ $json.slides.length }}\nХештеги: {{ $json.hashtags.join(' ') }}",
        "additionalFields": {}
      },
      "id": "telegram2",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3100, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Слайды:\n\n{{ $json.slides.map((s, i) => `${i+1}. ${s.text}`).join('\\n\\n') }}\n\nCTA: {{ $json.cta }}",
        "additionalFields": {}
      },
      "id": "send-text1",
      "name": "Send a text message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [3320, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Carousel Topics",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "completed",
            "completed_at": "={{ $now.toISO() }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "google-sheets4",
      "name": "Google Sheets4",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [3540, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIALS_ID",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## TikTok карусели\n\nАвтоматическое создание карусельных постов.\n\nSchedule Trigger3 → Google Sheets1 → Filter2 → Sort0 → Limit2 → Edit Fields1 → Code4 → Ajax Out → Switch1",
        "height": 160,
        "width": 380
      },
      "id": "sticky-overview",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 120]
    }
  ],
  "connections": {
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Sort0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort0": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Ajax Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajax Out": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Sort6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort6": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Sort5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort5": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
